<center>
    <img src="https://rockborne.com/wp-content/uploads/2021/07/LandingPage-Header-RED-CENTRE.jpg" width="900" alt="logo"  />
</center>

# PySpark Basics: LAB

***Upload the `train_titanic.csv` data into the Files area.***

#### Import Packages

In [ ]:
import findspark
import py4j
from pyspark.sql import SparkSession

from pyspark.sql.types import *
from pyspark.sql.functions import mean,countDistinct, avg, stddev, col, count, when
import pyspark.sql.functions as F

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt #for plotting

In [ ]:
findspark.init()
findspark.find()

'/content/spark-3.5.1-bin-hadoop3'

#### Goal For this lab

The student should perform an exploratory Titanic data analysis on the data & use a ML classification model to predict the chances of passenger survival

Before you begin any analysis, a spark session should be instantiated

### Ex. 1 : Start a SparkSession
Don't forget to give your appName a meaningful name

### Ex. 2 : Read in The Data
All exploration will be done in the training data

##### Ex. 2a : What is the datatype of the data you read in?

pyspark.sql.dataframe.DataFrame

### EX. 3 : Create a Data Dictionary
Perform some basic exploration on your data and produce a data dictionary describing your columns <br>
Your data dictionary should be in the form of a jupyter table (see below) <br> <br>
You can also refer to the data's source: [Titanic Data](https://www.kaggle.com/c/titanic/data)

| Column_name | Column_type | Brief_Description |
| ----------- | ----------- | ----------------- |
| first_col   | dtype       | this is a column  |
| second_col  | dtype       | this is also a column  |

### Ex. 4 : Data Exploration With SQL
Answer the following questions using sql with spark

##### Ex. 4a : register a SQL temporary view

##### Ex. 4b : How many of the passengers (rows) are male? female?

+--------+
|count(1)|
+--------+
|     577|
|     314|
+--------+

##### Ex. 4c : What is the average age in this dataset?

+------------------+
|round(avg(Age), 2)|
+------------------+
|              29.7|
+------------------+

##### Ex. 4d : What is the average fare for each class of passenger?

+------+-----+
|Pclass| Fare|
+------+-----+
|     1|38.23|
|     2|29.88|
|     3|25.14|
+------+-----+

### Ex. 5 : Basic Transformations

##### Ex. 5a : Column Mutation
The titanic sank in 1912. Since 1912, the value of the dollar has increased by 2,720.28%. Create a new column that shows the passenger's fare in respect to today's dollar value. Do not save this transformed dataframe

+-------+------------------+
|   Fare|        today_fare|
+-------+------------------+
|   7.25|          197.2203|
|71.2833|1939.1053532399999|
|  7.925|         215.58219|
|   53.1|        1444.46868|
|   8.05|218.98254000000003|
| 8.4583|230.08944323999998|
|51.8625|1410.8052149999999|
| 21.075|         573.29901|
|11.1333|      302.85693324|
|30.0708|      818.00995824|
|   16.7|454.28675999999996|
|  26.55|         722.23434|
|   8.05|218.98254000000003|
| 31.275|         850.76757|
| 7.8542|      213.65623176|
|   16.0|          435.2448|
| 29.125|         792.28155|
|   13.0|          353.6364|
|   18.0|          489.6504|
|  7.225|196.54022999999998|
+-------+------------------+
only showing top 20 rows

##### Ex. 5b : Filtered Exploration
filter the dataframe to include just the Passengers who survived, had either a sibling or spouse on board (SibSp), and had either a parent or child on board (Parch). Save the result to `df2` (you may use sql context or dataframe operations)

##### Ex. 5c : Filtered Exploration cont.
Using the filtered dataset created in exercise 5b, how many of the passengers matched the criteria in exercise 5b? What percent of these passengers were first class ticket holders?

62

0.2903225806451613

##### Ex. 5d : Using PySpark functions
Using `pyspark.sql.functions` find the mean and standard deviation of the SibSp and Parch columns <br> (*Dont forget to collect*)

avg SibSp:  0.5230078563411896
stddev for SibSp:  1.1027434322934315

avg Parch:  0.38159371492704824
stddev for Parch:  0.8060572211299488

##### Ex. 5e : Using PySpark functions cont
Determine the number of first class passengers who were younger than the average age amongst all passengers

55

### Ex. 6 : Missing Values

##### Ex. 6a : Determine the number of Null values in each column

+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|PassengerId|Survived|Pclass|Name|Sex|Age|SibSp|Parch|Ticket|Fare|Cabin|Embarked|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+
|          0|       0|     0|   0|  0|177|    0|    0|     0|   0|  687|       2|
+-----------+--------+------+----+---+---+-----+-----+------+----+-----+--------+

##### Ex. 6b : For each Null value in Cabin, change its value to the character 'N'

##### Ex. 6c : For each Null value in Fare, replace its value with the average fare

##### Ex. 6d : For each Null value in Embarked, replace its value with the mode (the port most Embarked from)