<center>
    <img src="https://rockborne.com/wp-content/uploads/2021/07/LandingPage-Header-RED-CENTRE.jpg" width="900" alt="logo"  />
</center>

---
# PySpark
---

---
# Prerequisites
- Have the following data downloaded:
  - `people.json`
  - `appl-stock.csv`
  - `Production.Product.csv`
  - `superstore.csv`

<a name="anchorWhatIsSpark" style="position:absolute;"></a>
<hr style="border:2px solid">

# Introduction
<hr style="border-top:1px dashed">

This notebook will guide you through the basics of using PySpark for data analysis.  

We will work with a dataset containing student marks across different modules.  

You'll learn how to:  
- Load and explore data using PySpark  
- Perform basic transformations such as filtering  
- Do basic data quality analysis
- JOINS, UNIONS and GROUP BY

Throughout the notebook, youâ€™ll find **tasks** to complete on your own to reinforce your understanding.

In [191]:
# Start a SparkSession
import findspark
findspark.init()
findspark.find()

'C:\\spark-3.5.7-bin-hadoop3'

In [192]:
# Import necessary libraries
import pyspark
import pandas as pd
from pyspark.sql import SparkSession

In [193]:
spark = SparkSession.builder.appName('DataWrangling').getOrCreate()
spark

**From a list:**

In [194]:
data_list = [('John','','Doe','1998-04-08','M',2000),
  ('Michael','Williams','','2002-05-24','M',3000),
  ('James','','Jones','1981-09-09','M',4000),
  ('Maria','Anne','Jones','1973-12-08','F',4000),
  ('Mary','Beth','Doe','1985-02-13','F',-1)]
## Define columns
columns = ["firstname","middlename","lastname","dob","gender","salary"]

data_list, columns

([('John', '', 'Doe', '1998-04-08', 'M', 2000),
  ('Michael', 'Williams', '', '2002-05-24', 'M', 3000),
  ('James', '', 'Jones', '1981-09-09', 'M', 4000),
  ('Maria', 'Anne', 'Jones', '1973-12-08', 'F', 4000),
  ('Mary', 'Beth', 'Doe', '1985-02-13', 'F', -1)],
 ['firstname', 'middlename', 'lastname', 'dob', 'gender', 'salary'])

In [195]:
df_from_list = spark.createDataFrame(data = data_list, schema = columns)
df_from_list

DataFrame[firstname: string, middlename: string, lastname: string, dob: string, gender: string, salary: bigint]

In [196]:
df_from_list.collect()

[Row(firstname='John', middlename='', lastname='Doe', dob='1998-04-08', gender='M', salary=2000),
 Row(firstname='Michael', middlename='Williams', lastname='', dob='2002-05-24', gender='M', salary=3000),
 Row(firstname='James', middlename='', lastname='Jones', dob='1981-09-09', gender='M', salary=4000),
 Row(firstname='Maria', middlename='Anne', lastname='Jones', dob='1973-12-08', gender='F', salary=4000),
 Row(firstname='Mary', middlename='Beth', lastname='Doe', dob='1985-02-13', gender='F', salary=-1)]

### **Basic Functions**

**Showing the data:**

In [197]:
df_from_list.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|     John|          |     Doe|1998-04-08|     M|  2000|
|  Michael|  Williams|        |2002-05-24|     M|  3000|
|    James|          |   Jones|1981-09-09|     M|  4000|
|    Maria|      Anne|   Jones|1973-12-08|     F|  4000|
|     Mary|      Beth|     Doe|1985-02-13|     F|    -1|
+---------+----------+--------+----------+------+------+

**Looking at data architecture:**

In [198]:
df_from_list.printSchema()

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

<a name="anchorPySparkSQL" style="position:absolute;"></a>
<hr style="border:2px solid">

# PySpark SQL and Data Wrangling
<hr style="border-top:1px dashed">

**Why Define Schema?**

Defining a data's schema has two main advantages:<br>
- the user can ensure that the dtypes for each column is correct
- the load-in times for data are much faster when spark does not have to try and infer the schema for each column

In [199]:
df_from_list.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|     John|          |     Doe|1998-04-08|     M|  2000|
|  Michael|  Williams|        |2002-05-24|     M|  3000|
|    James|          |   Jones|1981-09-09|     M|  4000|
|    Maria|      Anne|   Jones|1973-12-08|     F|  4000|
|     Mary|      Beth|     Doe|1985-02-13|     F|    -1|
+---------+----------+--------+----------+------+------+

In [200]:
df_from_list

DataFrame[firstname: string, middlename: string, lastname: string, dob: string, gender: string, salary: bigint]

In [11]:
#fixing schema
#from pyspark.sql.types import StructField, StringType, IntegerType, StructType
from pyspark.sql.types import *
list_data_schema = [StructField("firstname", StringType(), True),
                    StructField("middlename", StringType(), True),
                    StructField("lastname", StringType(), True),
                    StructField("dob", StringType(), True),
                    StructField("gender", StringType(), True),
                    StructField("salary", IntegerType(), True)]
final_struc = StructType(fields=list_data_schema)
final_struc

StructType([StructField('firstname', StringType(), True), StructField('middlename', StringType(), True), StructField('lastname', StringType(), True), StructField('dob', StringType(), True), StructField('gender', StringType(), True), StructField('salary', IntegerType(), True)])

In [12]:
df = spark.createDataFrame(data = data_list, schema = final_struc)

In [13]:
df.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|     John|          |     Doe|1998-04-08|     M|  2000|
|  Michael|  Williams|        |2002-05-24|     M|  3000|
|    James|          |   Jones|1981-09-09|     M|  4000|
|    Maria|      Anne|   Jones|1973-12-08|     F|  4000|
|     Mary|      Beth|     Doe|1985-02-13|     F|    -1|
+---------+----------+--------+----------+------+------+

In [14]:
df

DataFrame[firstname: string, middlename: string, lastname: string, dob: string, gender: string, salary: int]

---
<a name="anchorFunctions" style="position:absolute;"></a>

## Basic Transformations
---

**Double check that the `appl_stock.csv` file is uploaded into the Files area** - upload again now if it is not (refer to the start of the notebook if you need a refresh on how to upload).

In [ ]:
# Let Spark know about the header and infer the Schema types!
#df = spark.read.csv('../DataSources/appl_stock.csv',inferSchema=True,header=True)
#reps = pd.read_csv('../DataSources/sales_reps.csv')

In [201]:
##AWS S3 Bucket:
import pandas as pd
url = "https://rockborne-bucket-01-cbs.s3.eu-west-2.amazonaws.com/DataSources/appl_stock.csv"
# Read with pandas
pandas_df = pd.read_csv(url)
# Convert to PySpark
df = spark.createDataFrame(pandas_df)
df.show()

+----------+----------+------------------+----------+----------+---------+------------------+
|      Date|      Open|              High|       Low|     Close|   Volume|         Adj Close|
+----------+----------+------------------+----------+----------+---------+------------------+
|2010-01-04|213.429998|        214.499996|212.380001|214.009998|123432400|         27.727039|
|2010-01-05|214.599998|        215.589994|213.249994|214.379993|150476200|         27.774976|
|2010-01-06|214.379993|            215.23|210.750004|210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|        212.000006|209.050005|    210.58|119282800|          27.28265|
|2010-01-08|210.299994|        212.000006|209.060005|211.980005|111902700|         27.464034|
|2010-01-11|212.799997|        213.000002|208.450005|210.110003|115557400|         27.221758|
|2010-01-12|209.189995|        209.769995|206.419998|207.720001|148614900|          26.91211|
|2010-01-13|207.870005|        210.929995|204.099998|210.650002|151473000|          27.29172|
|2010-01-14|210.110003|        210.459997|209.020004|    209.43|108223500|         27.133657|
|2010-01-15|210.929995|211.59999700000003|205.869999|    205.93|148516900|         26.680198|
|2010-01-19|208.330002|215.18999900000003|207.240004|215.039995|182501900|         27.860485|
|2010-01-20|214.910006|        215.549994|209.500002|    211.73|153038200|         27.431644|
|2010-01-21|212.079994|        213.309996|207.210003|208.069996|152038600|         26.957455|
|2010-01-22|206.780006|        207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-25|202.510002|        204.699999|200.190002|203.070002|266424900|         26.309658|
|2010-01-26|205.950001|        213.710005|202.580004|205.940001|466777500|         26.681494|
|2010-01-27|206.849995|            210.58|199.530001|207.880005|430642100|          26.93284|
|2010-01-28|204.930004|        205.500004|198.699995|199.289995|293375600|         25.819922|
|2010-01-29|201.079996|        202.199995|190.250002|192.060003|311488100|         24.883208|
|2010-02-01|192.369997|             196.0|191.299999|194.729998|187469100|         25.229131|
+----------+----------+------------------+----------+----------+---------+------------------+
only showing top 20 rows

In [202]:
df

DataFrame[Date: string, Open: double, High: double, Low: double, Close: double, Volume: bigint, Adj Close: double]

In [203]:
df.printSchema()

root
 |-- Date: string (nullable = true)
 |-- Open: double (nullable = true)
 |-- High: double (nullable = true)
 |-- Low: double (nullable = true)
 |-- Close: double (nullable = true)
 |-- Volume: long (nullable = true)
 |-- Adj Close: double (nullable = true)

In [204]:
df.show(5)

+----------+----------+----------+----------+----------+---------+------------------+
|      Date|      Open|      High|       Low|     Close|   Volume|         Adj Close|
+----------+----------+----------+----------+----------+---------+------------------+
|2010-01-04|213.429998|214.499996|212.380001|214.009998|123432400|         27.727039|
|2010-01-05|214.599998|215.589994|213.249994|214.379993|150476200|         27.774976|
|2010-01-06|214.379993|    215.23|210.750004|210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|212.000006|209.050005|    210.58|119282800|          27.28265|
|2010-01-08|210.299994|212.000006|209.060005|211.980005|111902700|         27.464034|
+----------+----------+----------+----------+----------+---------+------------------+
only showing top 5 rows

In [205]:
df.count()

1762

In [206]:
df.describe().show()

+-------+----------+-----------------+------------------+-----------------+------------------+-------------------+------------------+
|summary|      Date|             Open|              High|              Low|             Close|             Volume|         Adj Close|
+-------+----------+-----------------+------------------+-----------------+------------------+-------------------+------------------+
|  count|      1762|             1762|              1762|             1762|              1762|               1762|              1762|
|   mean|      NULL|313.0763111589103|315.91128801645857|309.8282405079455| 312.9270656379114|9.422577587968218E7| 75.00174115607265|
| stddev|      NULL|185.2994680398154|186.89817686485776|183.3839166437098|185.14710361709436|6.020518776592714E7|28.574929721799045|
|    min|2010-01-04|             90.0|         90.699997|        89.470001|         90.279999|           11475900|         24.881912|
|    max|2016-12-30|       702.409988|        705.070023|       699.569977|        702.100021|          470249500|        127.966091|
+-------+----------+-----------------+------------------+-----------------+------------------+-------------------+------------------+

In [207]:
from pyspark.sql import functions as F

In [208]:
#from pyspark.sql import functions as F
## Select *
#df.select("*").show()
##Option 1:
#df.select("Date", "Open", "Volume").show()
##Option 2:
#df.select(F.col("Date"), F.col("Open"), F.col("Volume")).show()
##Option 3:
#df.select(["Date", "Open", "Volume"]).show()

##Aliases: 
#df.select(F.col("Date").alias("date"), F.col("Open")).show()
#df.select(F.col("Date").alias("date here"), F.col("Open")).show()

##Distinct
#df.select("Date").distinct().count(), df.count()

# Select columns with expressions
#f.select("Volume", (F.col("Volume") * 1.1).alias("Volume + 10%")).show()

#### **Filtering Data**

Spark DataFrames are built on top of the Spark SQL platform, which means that if you already know SQL, you can quickly and easily grab that data using SQL commands. DataFrame methods can also be used if one prefers.

References:

https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrame.html
https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrame.filter.html#pyspark.sql.DataFrame.filter
https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrame.where.html#pyspark.sql.DataFrame.where

In [209]:
# Using SQL filter rows with "Close" value below 500
df.filter("Close<500").show()

+----------+----------+------------------+----------+----------+---------+------------------+
|      Date|      Open|              High|       Low|     Close|   Volume|         Adj Close|
+----------+----------+------------------+----------+----------+---------+------------------+
|2010-01-04|213.429998|        214.499996|212.380001|214.009998|123432400|         27.727039|
|2010-01-05|214.599998|        215.589994|213.249994|214.379993|150476200|         27.774976|
|2010-01-06|214.379993|            215.23|210.750004|210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|        212.000006|209.050005|    210.58|119282800|          27.28265|
|2010-01-08|210.299994|        212.000006|209.060005|211.980005|111902700|         27.464034|
|2010-01-11|212.799997|        213.000002|208.450005|210.110003|115557400|         27.221758|
|2010-01-12|209.189995|        209.769995|206.419998|207.720001|148614900|          26.91211|
|2010-01-13|207.870005|        210.929995|204.099998|210.650002|151473000|          27.29172|
|2010-01-14|210.110003|        210.459997|209.020004|    209.43|108223500|         27.133657|
|2010-01-15|210.929995|211.59999700000003|205.869999|    205.93|148516900|         26.680198|
|2010-01-19|208.330002|215.18999900000003|207.240004|215.039995|182501900|         27.860485|
|2010-01-20|214.910006|        215.549994|209.500002|    211.73|153038200|         27.431644|
|2010-01-21|212.079994|        213.309996|207.210003|208.069996|152038600|         26.957455|
|2010-01-22|206.780006|        207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-25|202.510002|        204.699999|200.190002|203.070002|266424900|         26.309658|
|2010-01-26|205.950001|        213.710005|202.580004|205.940001|466777500|         26.681494|
|2010-01-27|206.849995|            210.58|199.530001|207.880005|430642100|          26.93284|
|2010-01-28|204.930004|        205.500004|198.699995|199.289995|293375600|         25.819922|
|2010-01-29|201.079996|        202.199995|190.250002|192.060003|311488100|         24.883208|
|2010-02-01|192.369997|             196.0|191.299999|194.729998|187469100|         25.229131|
+----------+----------+------------------+----------+----------+---------+------------------+
only showing top 20 rows

<div class="alert alert-block alert-warning">
<b>Note</b>
This is the same as a SQL WHERE clause<br>
    
> <span style="color:purple;font-weight:bold">SELECT</span> *<br>
<span style="color:purple;font-weight:bold">FROM</span> df<br>
<span style="color:purple;font-weight:bold">WHERE</span> Close < 500
    </div>

In [210]:
# Using SQL filter rows with "Close" value below 500 showing just the Open column
df.filter("Close<500").select('Open').show()

+----------+
|      Open|
+----------+
|213.429998|
|214.599998|
|214.379993|
|    211.75|
|210.299994|
|212.799997|
|209.189995|
|207.870005|
|210.110003|
|210.929995|
|208.330002|
|214.910006|
|212.079994|
|206.780006|
|202.510002|
|205.950001|
|206.849995|
|204.930004|
|201.079996|
|192.369997|
+----------+
only showing top 20 rows

<div class="alert alert-block alert-warning">
<b>Note</b>
This is the same as a SQL WHERE clause<br>
    
> <span style="color:purple;font-weight:bold">SELECT</span> Open<br>
<span style="color:purple;font-weight:bold">FROM</span> df<br>
<span style="color:purple;font-weight:bold">WHERE</span> Close < 500
    </div>

In [211]:
# Using SQL filter rows with "Close" value below 500 showing "Open" and "Close" columns
df.filter("Close<500").select(['Open','Close']).show(5)

+----------+----------+
|      Open|     Close|
+----------+----------+
|213.429998|214.009998|
|214.599998|214.379993|
|214.379993|210.969995|
|    211.75|    210.58|
|210.299994|211.980005|
+----------+----------+
only showing top 5 rows

<div class="alert alert-block alert-warning">
<b>Note</b>
This is the same as a SQL WHERE clause<br>
    
> <span style="color:purple;font-weight:bold">SELECT</span> Open, Close<br>
<span style="color:purple;font-weight:bold">FROM</span> df<br>
<span style="color:purple;font-weight:bold">WHERE</span> Close < 500<br>
<span style="color:purple;font-weight:bold">LIMIT</span> 5
    </div>

Using normal python comparison operators is another way to do this, they will look very similar to SQL operators, except you need to make sure you are calling the entire column within the dataframe, using the format: df["column name"]

In [212]:
##Filtering rows with "Close" less than 200 with the structure "df['column_name']"
df.filter(df["Close"] < 200).show(5)

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
|2010-02-01|192.369997|     196.0|191.299999|194.729998|187469100|25.229131|
|2010-02-02|195.909998|196.319994|193.379993|195.859997|174585600|25.375533|
+----------+----------+----------+----------+----------+---------+---------+
only showing top 5 rows

<div class="alert alert-block alert-warning">
<b>Note</b>
This is the same as a SQL WHERE clause<br>
    
> <span style="color:purple;font-weight:bold">SELECT</span> *<br>
<span style="color:purple;font-weight:bold">FROM</span> df<br>
<span style="color:purple;font-weight:bold">WHERE</span> Close < 500<br>
<span style="color:purple;font-weight:bold">LIMIT</span> 5
    </div>

**Using Boolean Expressions**

<div class="alert alert-block alert-info">
    <b>Note:</b> The next produce will cause an error, make sure to read the error!
</div>

In [213]:
df.filter(df["Close"] < 200 and df['Open'] > 200).show()

PySparkValueError: [CANNOT_CONVERT_COLUMN_INTO_BOOL] Cannot convert column into bool: please use '&' for 'and', '|' for 'or', '~' for 'not' when building DataFrame boolean expressions.

**What does this error tells us about the syntax?**

The right way:

In [214]:
df.filter((df["Close"] < 200) & (df['Open'] > 200)).show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
+----------+----------+----------+----------+----------+---------+---------+

In [215]:
# Make sure to add in the parenthesis separating the statements!
df.filter( (df["Close"] < 200) & (df['Open'] > 200) ).show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
+----------+----------+----------+----------+----------+---------+---------+

In [216]:
# ***Task***
# Get the same results as above using SQL context

#----------------------------------------------------------------------#

df.filter("Close < 200 AND Open > 200").show()
#----------------------------------------------------------------------#

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
+----------+----------+----------+----------+----------+---------+---------+

<details>
    <summary style="color:green;font-weight:bold">Click here for the answers to the task</summary>
    
>
```
df.filter("Close < 200 AND Open > 200").show()
```
</details>

In [217]:
#***Task***
# Display the rows with "Close" value less than 200 OR "Open" greater than 200
# Using python comparison operators

#------------------------------------------------------------------------------#
df.filter( (df["Close"] < 200) | (df['Open'] > 200) ).show()

#------------------------------------------------------------------------------#

+----------+----------+------------------+----------+----------+---------+------------------+
|      Date|      Open|              High|       Low|     Close|   Volume|         Adj Close|
+----------+----------+------------------+----------+----------+---------+------------------+
|2010-01-04|213.429998|        214.499996|212.380001|214.009998|123432400|         27.727039|
|2010-01-05|214.599998|        215.589994|213.249994|214.379993|150476200|         27.774976|
|2010-01-06|214.379993|            215.23|210.750004|210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|        212.000006|209.050005|    210.58|119282800|          27.28265|
|2010-01-08|210.299994|        212.000006|209.060005|211.980005|111902700|         27.464034|
|2010-01-11|212.799997|        213.000002|208.450005|210.110003|115557400|         27.221758|
|2010-01-12|209.189995|        209.769995|206.419998|207.720001|148614900|          26.91211|
|2010-01-13|207.870005|        210.929995|204.099998|210.650002|151473000|          27.29172|
|2010-01-14|210.110003|        210.459997|209.020004|    209.43|108223500|         27.133657|
|2010-01-15|210.929995|211.59999700000003|205.869999|    205.93|148516900|         26.680198|
|2010-01-19|208.330002|215.18999900000003|207.240004|215.039995|182501900|         27.860485|
|2010-01-20|214.910006|        215.549994|209.500002|    211.73|153038200|         27.431644|
|2010-01-21|212.079994|        213.309996|207.210003|208.069996|152038600|         26.957455|
|2010-01-22|206.780006|        207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-25|202.510002|        204.699999|200.190002|203.070002|266424900|         26.309658|
|2010-01-26|205.950001|        213.710005|202.580004|205.940001|466777500|         26.681494|
|2010-01-27|206.849995|            210.58|199.530001|207.880005|430642100|          26.93284|
|2010-01-28|204.930004|        205.500004|198.699995|199.289995|293375600|         25.819922|
|2010-01-29|201.079996|        202.199995|190.250002|192.060003|311488100|         24.883208|
|2010-02-01|192.369997|             196.0|191.299999|194.729998|187469100|         25.229131|
+----------+----------+------------------+----------+----------+---------+------------------+
only showing top 20 rows

<details>
    <summary style="color:green;font-weight:bold">Click here for the answers to the task</summary>
    
>
```
df.filter( (df["Close"] < 200) | (df['Open'] > 200) ).show()
```
</details>

In [218]:
# ***Task***
# Get the same results as above using SQL context

#----------------------------------------------------------------------#
df.filter("Close < 200 OR Open > 200" ).show()

#----------------------------------------------------------------------#

+----------+----------+------------------+----------+----------+---------+------------------+
|      Date|      Open|              High|       Low|     Close|   Volume|         Adj Close|
+----------+----------+------------------+----------+----------+---------+------------------+
|2010-01-04|213.429998|        214.499996|212.380001|214.009998|123432400|         27.727039|
|2010-01-05|214.599998|        215.589994|213.249994|214.379993|150476200|         27.774976|
|2010-01-06|214.379993|            215.23|210.750004|210.969995|138040000|27.333178000000004|
|2010-01-07|    211.75|        212.000006|209.050005|    210.58|119282800|          27.28265|
|2010-01-08|210.299994|        212.000006|209.060005|211.980005|111902700|         27.464034|
|2010-01-11|212.799997|        213.000002|208.450005|210.110003|115557400|         27.221758|
|2010-01-12|209.189995|        209.769995|206.419998|207.720001|148614900|          26.91211|
|2010-01-13|207.870005|        210.929995|204.099998|210.650002|151473000|          27.29172|
|2010-01-14|210.110003|        210.459997|209.020004|    209.43|108223500|         27.133657|
|2010-01-15|210.929995|211.59999700000003|205.869999|    205.93|148516900|         26.680198|
|2010-01-19|208.330002|215.18999900000003|207.240004|215.039995|182501900|         27.860485|
|2010-01-20|214.910006|        215.549994|209.500002|    211.73|153038200|         27.431644|
|2010-01-21|212.079994|        213.309996|207.210003|208.069996|152038600|         26.957455|
|2010-01-22|206.780006|        207.499996|    197.16|    197.75|220441900|         25.620401|
|2010-01-25|202.510002|        204.699999|200.190002|203.070002|266424900|         26.309658|
|2010-01-26|205.950001|        213.710005|202.580004|205.940001|466777500|         26.681494|
|2010-01-27|206.849995|            210.58|199.530001|207.880005|430642100|          26.93284|
|2010-01-28|204.930004|        205.500004|198.699995|199.289995|293375600|         25.819922|
|2010-01-29|201.079996|        202.199995|190.250002|192.060003|311488100|         24.883208|
|2010-02-01|192.369997|             196.0|191.299999|194.729998|187469100|         25.229131|
+----------+----------+------------------+----------+----------+---------+------------------+
only showing top 20 rows

<details>
    <summary style="color:green;font-weight:bold">Click here for the answers to the task</summary>
    
>
```
df.filter("Close < 200 OR Open > 200" ).show()
```
</details>

In [219]:
##Rows with "Close" less than 200 and "Open" not less than 200
df.filter( (df["Close"] < 200) & ~(df['Open'] < 200) ).show()

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
+----------+----------+----------+----------+----------+---------+---------+

In [220]:
# ***Task***
# Get the same results as above using SQL context

#----------------------------------------------------------------------#

df.filter( "Close < 200 AND NOT Open < 200").show()
#----------------------------------------------------------------------#

+----------+----------+----------+----------+----------+---------+---------+
|      Date|      Open|      High|       Low|     Close|   Volume|Adj Close|
+----------+----------+----------+----------+----------+---------+---------+
|2010-01-22|206.780006|207.499996|    197.16|    197.75|220441900|25.620401|
|2010-01-28|204.930004|205.500004|198.699995|199.289995|293375600|25.819922|
|2010-01-29|201.079996|202.199995|190.250002|192.060003|311488100|24.883208|
+----------+----------+----------+----------+----------+---------+---------+

<details>
    <summary style="color:green;font-weight:bold">Click here for the answers to the task</summary>
    
>
```
df.filter( "Close < 200 AND NOT Open < 200").show()
```
</details>

In [221]:
#***Task***
# Rows with "Low" equal to 197.16

#-------------------------------------------------------------------#

df.filter(df["Low"] == 197.16).show()
#-------------------------------------------------------------------#

+----------+----------+----------+------+------+---------+---------+
|      Date|      Open|      High|   Low| Close|   Volume|Adj Close|
+----------+----------+----------+------+------+---------+---------+
|2010-01-22|206.780006|207.499996|197.16|197.75|220441900|25.620401|
+----------+----------+----------+------+------+---------+---------+

<details>
    <summary style="color:green;font-weight:bold">Click here for the answers to the task</summary>
    
>
```
df.filter(df["Low"] == 197.16).show()
```
</details>

In [222]:
# ***Task***
# Get the same results as above using SQL context

#----------------------------------------------------------------------#

df.filter("Low == 197.16").show()
#----------------------------------------------------------------------#

+----------+----------+----------+------+------+---------+---------+
|      Date|      Open|      High|   Low| Close|   Volume|Adj Close|
+----------+----------+----------+------+------+---------+---------+
|2010-01-22|206.780006|207.499996|197.16|197.75|220441900|25.620401|
+----------+----------+----------+------+------+---------+---------+

<details>
    <summary style="color:green;font-weight:bold">Click here for the answers to the task</summary>
    
>
```
df.filter("Low == 197.16").show()
```
</details>

Instead of just showing our outputs, we can also collect them as <u> Python objects </u>

In [223]:
# Collecting results as Python objects
# Collect  rows with "Low" equal to 197.16
df.filter(df["Low"] == 197.16).collect()

[Row(Date='2010-01-22', Open=206.780006, High=207.499996, Low=197.16, Close=197.75, Volume=220441900, Adj Close=25.620401)]

---
<a name="anchorAggregations" style="position:absolute;"></a>
## Group By and Aggregate Functions
---

**Double check that the `superstore.csv` file is uploaded into the Files area** - upload again now if it is not (refer to the start of the notebook if you need a refresh on how to upload).

In [ ]:
from pyspark.sql import functions as F
#df = spark.read.csv('../DataSources/superstore.csv',inferSchema=True,header=True)

In [224]:
from pyspark.sql import functions as F
##AWS S3 Bucket:
import pandas as pd
url = "https://rockborne-bucket-01-cbs.s3.eu-west-2.amazonaws.com/DataSources/superstore.csv"
# Read with pandas
pandas_df = pd.read_csv(url, encoding='latin-1')
# Convert to PySpark
df = spark.createDataFrame(pandas_df)
df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   Sales|Quantity|Discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|Stur-D-Stor Shelv...|  665.88|       6|     0.0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|     0.0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|     0.0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

In [225]:
df.printSchema()

root
 |-- Row ID: long (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: long (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

If your schema is incorrect (e.g., sales, quantity, or discount are stored as strings), you can cast them to the correct data types using the `.withColumn()` method and the `cast()` function from `pyspark.sql.functions`.

In [226]:
#from pyspark.sql.functions import col
df = df.withColumn("sales", F.col("sales").cast("double")) \
       .withColumn("quantity", F.col("quantity").cast("int")) \
       .withColumn("discount", F.col("discount").cast("double"))

In [227]:
df.printSchema()

root
 |-- Row ID: long (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: long (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- discount: double (nullable = true)
 |-- Profit: double (nullable = true)

In [228]:
df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   sales|quantity|discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|Stur-D-Stor Shelv...|  665.88|       6|     0.0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|     0.0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|     0.0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

In [229]:
# Mean
#df.groupBy("Ship Mode").mean().show()
df.groupBy("Ship Mode").mean().show()

+--------------+------------------+------------------+------------------+------------------+-------------------+------------------+
|     Ship Mode|       avg(Row ID)|  avg(Postal Code)|        avg(sales)|     avg(quantity)|      avg(discount)|       avg(Profit)|
+--------------+------------------+------------------+------------------+------------------+-------------------+------------------+
|   First Class| 4875.510403120937|54765.611833550065|228.49702399219763| 3.701560468140442| 0.1646098829648895| 31.83994791937582|
|      Same Day|5128.9097605893185| 57536.08287292818|236.39617863720073|3.6095764272559854|0.15239410681399626|29.266590976058925|
|  Second Class| 4936.759383033419| 55626.00925449871| 236.0892387660668| 3.816452442159383| 0.1388946015424165|29.535545192802065|
|Standard Class| 5036.776977211796| 54944.44705093834|227.58306685656837| 3.819872654155496|0.16002345844504015| 27.49477002345845|
+--------------+------------------+------------------+------------------+------------------+-------------------+------------------+

In [230]:
# Count
df.groupBy("Ship Mode").count().show()

+--------------+-----+
|     Ship Mode|count|
+--------------+-----+
|   First Class| 1538|
|      Same Day|  543|
|  Second Class| 1945|
|Standard Class| 5968|
+--------------+-----+

In [231]:
# Sum
df.groupBy("Ship Mode").sum().show()

+--------------+-----------+----------------+------------------+-------------+------------------+------------------+
|     Ship Mode|sum(Row ID)|sum(Postal Code)|        sum(sales)|sum(quantity)|     sum(discount)|       sum(Profit)|
+--------------+-----------+----------------+------------------+-------------+------------------+------------------+
|   First Class|    7498535|        84229511|351428.42289999995|         5693|253.17000000000002| 48969.83990000001|
|      Same Day|    2784998|        31242093|        128363.125|         1960| 82.74999999999997|15891.758899999997|
|  Second Class|    9601997|       108192588|       459193.5694|         7423| 270.1500000000001|57446.635400000014|
|Standard Class|   30059485|       327908460|       1358215.743|        22797| 955.0199999999996|164088.78750000003|
+--------------+-----------+----------------+------------------+-------------+------------------+------------------+

Max of `sales` from the whole dataframe:

Dictionary used to specify `sales` column to aggregate.

In [232]:
df.agg({'sales':'max'}).show()

+----------+
|max(sales)|
+----------+
|  22638.48|
+----------+

In [233]:
# Get the average profit for each state
df.groupBy("State").agg({"Profit": "avg"}).show()

+--------------------+-------------------+
|               State|        avg(Profit)|
+--------------------+-------------------+
|                Utah| 48.047801886792456|
|           Minnesota| 121.60884719101122|
|                Ohio| -36.18630405117271|
|              Oregon| -9.600568548387097|
|            Arkansas|  66.81145166666667|
|               Texas|-26.121173908629444|
|        Pennsylvania|-26.507598466780237|
|         Connecticut|  42.82307073170732|
|            Nebraska|  53.60774210526316|
|              Nevada|  85.04527948717949|
|          Washington|  66.01314565217392|
|            Illinois|-25.625786585365855|
|            Oklahoma|  73.54478787878787|
|District of Columbia| 105.95893000000001|
|            Delaware| 103.93098749999997|
|          New Mexico| 31.273408108108107|
|            Missouri|  97.51834090909091|
|        Rhode Island| 130.10052321428572|
|             Georgia|  88.31545271739131|
|             Montana|           122.2219|
+--------------------+-------------------+
only showing top 20 rows

In [234]:
#***Task***
# Get the count of orders in each region

#------------------------------------------------------------#

df.groupBy("Region").count().show()
#------------------------------------------------------------#

+-------+-----+
| Region|count|
+-------+-----+
|  South| 1620|
|Central| 2323|
|   East| 2848|
|   West| 3203|
+-------+-----+

<details>
    <summary style="color:green;font-weight:bold">Click here for the answer to the task</summary>
    
>
```
df.groupBy("Region").count().show()
```
</details>

In [235]:
#***Task***
# Find the highest order value per customer

#----------------------------------------------------------------#


df.groupBy("Customer ID").agg({"sales": "max"}).show()
#----------------------------------------------------------------#

+-----------+----------+
|Customer ID|max(sales)|
+-----------+----------+
|   VW-21775|   1247.64|
|   EM-13960|     572.8|
|   MY-17380|   801.568|
|   KH-16630|   1259.93|
|   BD-11500|   2939.93|
|   SW-20275|    881.93|
|   PH-18790|   683.952|
|   JF-15490|   291.168|
|   JF-15415|   1471.96|
|   IM-15070|   1819.86|
|   JH-15985|  4297.644|
|   OT-18730|  1369.764|
|   KM-16225|    601.65|
|   MG-18145|   1115.91|
|   SO-20335|  957.5775|
|   DN-13690|    842.72|
|   DJ-13420|    1454.9|
|   JK-15370|   573.174|
|   CB-12025|   999.432|
|   NB-18655|   383.438|
+-----------+----------+
only showing top 20 rows

<details>
    <summary style="color:green;font-weight:bold">Click here for the answer to the task</summary>
    
>
```
df.groupBy("Customer ID").agg({"sales": "max"}).show()
```
</details>

**SQL style**

In [236]:
#df.select(count_distinct("Sub-Category")).show()
df.select(F.count_distinct("Sub-Category")).show()

+----------------------------+
|count(DISTINCT Sub-Category)|
+----------------------------+
|                          17|
+----------------------------+

In [237]:
##STD of sales
sales_std = df.select(F.stddev("sales").alias('std'))

In [238]:
sales_std.show()

+-----------------+
|              std|
+-----------------+
|623.2451005086809|
+-----------------+

In [239]:
# OrderBy (Ascending)
df.orderBy("sales").show()

+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-----+--------+--------+-------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|   Customer Name|    Segment|      Country|         City|       State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|sales|quantity|discount| Profit|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-----+--------+--------+-------+
|  4102|US-2017-102288| 6/19/2017| 6/23/2017|Standard Class|   ZC-21910|Zuschuss Carroll|   Consumer|United States|      Houston|       Texas|      77095|Central|OFF-AP-10002906|Office Supplies|  Appliances|Hoover Replacemen...|0.444|       1|     0.8|  -1.11|
|  9293|CA-2017-124114|  3/2/2017|  3/2/2017|      Same Day|   RS-19765|  Roland Schwarz|  Corporate|United States|         Waco|       Texas|      76706|Central|OFF-BI-10004022|Office Supplies|     Binders|Acco Suede Grain ...|0.556|       1|     0.8|-0.9452|
|  8659|CA-2016-168361| 6/21/2016| 6/25/2016|Standard Class|   KB-16600|     Ken Brennan|  Corporate|United States|      Chicago|    Illinois|      60623|Central|OFF-BI-10003727|Office Supplies|     Binders|Avery Durable Sla...|0.836|       1|     0.8|-1.3376|
|  4712|CA-2014-112403| 3/31/2014| 3/31/2014|      Same Day|   JO-15280|   Jas O'Carroll|   Consumer|United States| Philadelphia|Pennsylvania|      19120|   East|OFF-BI-10003529|Office Supplies|     Binders|Avery Round Ring ...|0.852|       1|     0.7|-0.5964|
|  2107|US-2014-152723| 9/26/2014| 9/26/2014|      Same Day|   HG-14965|   Henry Goldwyn|  Corporate|United States|     Mesquite|       Texas|      75150|Central|OFF-BI-10003460|Office Supplies|     Binders|   Acco 3-Hole Punch|0.876|       1|     0.8|-1.4016|
|  7549|CA-2014-103492|10/10/2014|10/15/2014|Standard Class|   CM-12715|  Craig Molinari|  Corporate|United States|   Huntsville|       Texas|      77340|Central|OFF-BI-10004140|Office Supplies|     Binders|Avery Non-Stick B...|0.898|       1|     0.8|-1.5715|
|  8034|CA-2015-119690| 6/25/2015| 6/28/2015|   First Class|   MV-17485|   Mark Van Huff|   Consumer|United States|      Houston|       Texas|      77041|Central|OFF-BI-10000201|Office Supplies|     Binders|Avery Triangle Sh...|0.984|       2|     0.8| -1.476|
|  2762|CA-2017-126536|10/12/2017|10/14/2017|   First Class|   NK-18490|    Neil Knudson|Home Office|United States|San Francisco|  California|      94110|   West|TEC-AC-10003709|     Technology| Accessories|Maxell 4.7GB DVD-...| 0.99|       1|     0.0| 0.4356|
|  8025|CA-2014-129189| 7/21/2014| 7/25/2014|Standard Class|   HM-14860|     Harry Marie|  Corporate|United States|       Dallas|       Texas|      75217|Central|OFF-BI-10000494|Office Supplies|     Binders|Acco Economy Flex...|1.044|       1|     0.8| -1.827|
|   977|US-2017-100209|  7/9/2017| 7/15/2017|Standard Class|   TD-20995|   Tamara Dahlen|   Consumer|United States|     Portland|      Oregon|      97206|   West|OFF-BI-10002012|Office Supplies|     Binders|Wilson Jones Easy...| 1.08|       2|     0.7| -0.792|
|  4934|CA-2015-106978| 9/28/2015| 10/4/2015|Standard Class|   ZC-21910|Zuschuss Carroll|   Consumer|United States|       Aurora|    Colorado|      80013|   West|OFF-BI-10002012|Office Supplies|     Binders|Wilson Jones Easy...| 1.08|       2|     0.7| -0.792|
|  1333|CA-2014-122567| 2/16/2014| 2/21/2014|Standard Class|   MN-17935|  Michael Nguyen|   Consumer|United States|       Dallas|       Texas|      75220|Central|OFF-BI-10002012|Office Supplies|     Binders|Wilson Jones Easy...| 1.08|       3|     0.8| -1.728|
|   988|CA-2015-146829| 3/10/2015| 3/10/2015|      Same Day|   TS-21340|   Toby Swindell|   Consumer|United States|      Houston|       Texas|      77041|Central|OFF-BI-10004022|Office Supplies|     Binders|Acco Suede Grain ...|1.112|       2|     0.8|-1.8904|
|  2606|CA-2014-112718|12/16/2014|12/21/2014|Standard Class|   KN-16450|     Kean Nguyen|  Corporate|United States| Jacksonville|     Florida|      32216|  South|OFF-BI-10000591|Office Supplies|     Binders| Avery Binder Labels|1.167|       1|     0.7|-0.8558|
|  4875|CA-2017-164042| 5/23/2017| 5/27/2017|Standard Class|   KL-16645|    Ken Lonsdale|   Consumer|United States|      Houston|       Texas|      77095|Central|OFF-BI-10001922|Office Supplies|     Binders|Storex Dura Pro B...|1.188|       1|     0.8|-1.9602|
|  6090|US-2017-162068|12/28/2017|12/31/2017|  Second Class|   PC-18745|  Pamela Coakley|  Corporate|United States|     Loveland|    Colorado|      80538|   West|OFF-BI-10002813|Office Supplies|     Binders|Avery Reinforceme...|1.188|       2|     0.7|  -0.99|
|  1686|CA-2017-149489| 4/24/2017| 4/27/2017|   First Class|   DK-12835| Damala Kotsonis|  Corporate|United States| Philadelphia|Pennsylvania|      19143|   East|OFF-BI-10002813|Office Supplies|     Binders|Avery Reinforceme...|1.188|       2|     0.7|  -0.99|
|  1113|US-2016-110156|11/19/2016|11/24/2016|Standard Class|   EH-13945|   Eric Hoffmann|   Consumer|United States|      Houston|       Texas|      77041|Central|OFF-BI-10002609|Office Supplies|     Binders|Avery Hidden Tab ...|1.192|       2|     0.8|-2.0264|
|  3326|CA-2014-165309|11/11/2014|11/15/2014|Standard Class|   KD-16270|   Karen Daniels|   Consumer|United States|      Houston|       Texas|      77095|Central|OFF-BI-10001267|Office Supplies|     Binders|Universal Recycle...|1.234|       1|     0.8|-1.9744|
|  5207|CA-2015-102015| 9/12/2015| 9/18/2015|Standard Class|   TM-21010|  Tamara Manning|   Consumer|United States|       Auburn|    New York|      13021|   East|OFF-FA-10000490|Office Supplies|   Fasteners|OIC Binder Clips,...| 1.24|       1|     0.0| 0.5828|
+------+--------------+----------+----------+--------------+-----------+----------------+-----------+-------------+-------------+------------+-----------+-------+---------------+---------------+------------+--------------------+-----+--------+--------+-------+
only showing top 20 rows

In [240]:
# Descending call off the column itself.
#df.orderBy(df["sales"].desc()).show()

# Alternatively
#df.orderBy('sales', ascending=False).show()

# Alternatively
df.orderBy(F.col('sales').desc()).show()

+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+-------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+---------+--------+--------+----------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|       Customer Name|    Segment|      Country|         City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|    sales|quantity|discount|    Profit|
+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+-------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+---------+--------+--------+----------+
|  2698|CA-2014-145317| 3/18/2014| 3/23/2014|Standard Class|   SM-20320|         Sean Miller|Home Office|United States| Jacksonville|       Florida|      32216|  South|TEC-MA-10002412|     Technology|    Machines|Cisco TelePresenc...| 22638.48|       6|     0.5|-1811.0784|
|  6827|CA-2016-118689| 10/2/2016| 10/9/2016|Standard Class|   TC-20980|        Tamara Chand|  Corporate|United States|    Lafayette|       Indiana|      47905|Central|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 17499.95|       5|     0.0|  8399.976|
|  8154|CA-2017-140151| 3/23/2017| 3/25/2017|   First Class|   RB-19360|        Raymond Buch|   Consumer|United States|      Seattle|    Washington|      98115|   West|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 13999.96|       4|     0.0| 6719.9808|
|  2624|CA-2017-127180|10/22/2017|10/24/2017|   First Class|   TA-21385|        Tom Ashbrook|Home Office|United States|New York City|      New York|      10024|   East|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...|11199.968|       4|     0.2| 3919.9888|
|  4191|CA-2017-166709|11/17/2017|11/22/2017|Standard Class|   HL-15040|        Hunter Lopez|   Consumer|United States|       Newark|      Delaware|      19711|   East|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 10499.97|       3|     0.0| 5039.9856|
|  9040|CA-2016-117121|12/17/2016|12/21/2016|Standard Class|   AB-10105|       Adrian Barton|   Consumer|United States|      Detroit|      Michigan|      48205|Central|OFF-BI-10000545|Office Supplies|     Binders|GBC Ibimaster 500...|  9892.74|      13|     0.0|   4946.37|
|  4099|CA-2014-116904| 9/23/2014| 9/28/2014|Standard Class|   SC-20095|        Sanjit Chand|   Consumer|United States|  Minneapolis|     Minnesota|      55407|Central|OFF-BI-10001120|Office Supplies|     Binders|Ibico EPK-21 Elec...|  9449.95|       5|     0.0| 4630.4755|
|  4278|US-2016-107440| 4/16/2016| 4/20/2016|Standard Class|   BS-11365|        Bill Shonely|  Corporate|United States|     Lakewood|    New Jersey|       8701|   East|TEC-MA-10001047|     Technology|    Machines|3D Systems Cube P...|  9099.93|       7|     0.0| 2365.9818|
|  8489|CA-2016-158841|  2/2/2016|  2/4/2016|  Second Class|   SE-20110|        Sanjit Engle|   Consumer|United States|    Arlington|      Virginia|      22204|  South|TEC-MA-10001127|     Technology|    Machines|HP Designjet T520...|  8749.95|       5|     0.0|  2799.984|
|  6426|CA-2016-143714| 5/23/2016| 5/27/2016|Standard Class|   CC-12370|  Christopher Conant|   Consumer|United States| Philadelphia|  Pennsylvania|      19120|   East|TEC-CO-10004722|     Technology|     Copiers|Canon imageCLASS ...| 8399.976|       4|     0.4| 1119.9968|
|  2506|CA-2014-143917| 7/25/2014| 7/27/2014|  Second Class|   KL-16645|        Ken Lonsdale|   Consumer|United States|San Francisco|    California|      94122|   West|OFF-SU-10000151|Office Supplies|    Supplies|High Speed Automa...|  8187.65|       5|     0.0|   327.506|
|   166|CA-2014-139892|  9/8/2014| 9/12/2014|Standard Class|   BM-11140|        Becky Martin|   Consumer|United States|  San Antonio|         Texas|      78207|Central|TEC-MA-10000822|     Technology|    Machines|Lexmark MX611dhe ...| 8159.952|       8|     0.4| -1359.992|
|   684|US-2017-168116| 11/4/2017| 11/4/2017|      Same Day|   GT-14635|      Grant Thornton|  Corporate|United States|   Burlington|North Carolina|      27217|  South|TEC-MA-10004125|     Technology|    Machines|Cubify CubeX 3D P...|  7999.98|       4|     0.5|-3839.9904|
|  6627|CA-2014-145541|12/14/2014|12/21/2014|Standard Class|   TB-21400|    Tom Boeckenhauer|   Consumer|United States|New York City|      New York|      10024|   East|TEC-MA-10001127|     Technology|    Machines|HP Designjet T520...|  6999.96|       4|     0.0| 2239.9872|
|   510|CA-2015-145352| 3/16/2015| 3/22/2015|Standard Class|   CM-12385|Christopher Martinez|   Consumer|United States|      Atlanta|       Georgia|      30318|  South|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|  6354.95|       5|     0.0|  3177.475|
|  6521|CA-2017-138289| 1/16/2017| 1/18/2017|  Second Class|   AR-10540|         Andy Reiter|   Consumer|United States|      Jackson|      Michigan|      49201|Central|OFF-BI-10004995|Office Supplies|     Binders|GBC DocuBind P400...|  5443.96|       4|     0.0| 2504.2216|
|  7667|US-2016-140158| 10/4/2016| 10/8/2016|Standard Class|   DR-12940|       Daniel Raglin|Home Office|United States|   Providence|  Rhode Island|       2908|   East|TEC-CO-10001449|     Technology|     Copiers|Hewlett Packard L...|  5399.91|       9|     0.0| 2591.9568|
|  6341|CA-2017-143112| 10/5/2017| 10/9/2017|Standard Class|   TS-21370|        Todd Sumrall|  Corporate|United States|New York City|      New York|      10035|   East|TEC-MA-10001047|     Technology|    Machines|3D Systems Cube P...|  5199.96|       4|     0.0| 1351.9896|
|  8859|CA-2017-135909|10/13/2017|10/20/2017|Standard Class|   JW-15220|           Jane Waco|  Corporate|United States|   Sacramento|    California|      95823|   West|OFF-BI-10003527|Office Supplies|     Binders|Fellowes PB500 El...|  5083.96|       5|     0.2|  1906.485|
|  5885|CA-2016-136301| 3/13/2016| 3/15/2016|  Second Class|   EH-13765|        Edward Hooks|  Corporate|United States|San Francisco|    California|      94109|   West|OFF-SU-10000151|Office Supplies|    Supplies|High Speed Automa...|  4912.59|       3|     0.0|  196.5036|
+------+--------------+----------+----------+--------------+-----------+--------------------+-----------+-------------+-------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+---------+--------+--------+----------+
only showing top 20 rows

In [241]:
#***Task***
# Find the total profit per sub-category and sort the results in descending order

#-----------------------------------------------------------------------------#

df.groupBy("Sub-Category").agg({"profit": "sum"}).orderBy("sum(profit)", ascending=False).show()
#-----------------------------------------------------------------------------#

+------------+-------------------+
|Sub-Category|        sum(profit)|
+------------+-------------------+
|     Copiers|  55617.82490000001|
|      Phones| 44515.730599999995|
| Accessories|  41936.63569999999|
|       Paper|         34053.5693|
|     Binders|         30221.7633|
|      Chairs| 26590.166300000004|
|     Storage| 21278.826399999998|
|  Appliances|         18138.0054|
| Furnishings|         13059.1436|
|   Envelopes|          6964.1767|
|         Art|  6527.787000000002|
|      Labels|  5546.254000000001|
|    Machines| 3384.7568999999994|
|   Fasteners|           949.5182|
|    Supplies|-1189.0995000000003|
|   Bookcases|-3472.5559999999996|
|      Tables|-17725.481099999997|
+------------+-------------------+

<details>
    <summary style="color:green;font-weight:bold">Click here for the answer to the task</summary>
    
>
```
df.groupBy("Sub-Category").agg({"profit": "sum"}).orderBy("sum(profit)", ascending=False).show()
```
</details>

In [242]:
df.show()

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   sales|quantity|discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|Stur-D-Stor Shelv...|  665.88|       6|     0.0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|     0.0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|     0.0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

In [243]:
##Multiple columns
df.groupBy("Category", "Sub-Category").agg(
                                                F.count("Category").alias("Num of Orders"),
                                                F.avg("Sales").alias("avg_sales")
                                            ).orderBy(F.col("Category").desc(), F.col("avg_sales").desc()).show()

+---------------+------------+-------------+------------------+
|       Category|Sub-Category|Num of Orders|         avg_sales|
+---------------+------------+-------------+------------------+
|     Technology|     Copiers|           68|2198.9416176470586|
|     Technology|    Machines|          115|1645.5533130434783|
|     Technology|      Phones|          889| 371.2115343082115|
|     Technology| Accessories|          775| 215.9746038709677|
|Office Supplies|     Storage|          846| 264.5905531914893|
|Office Supplies|    Supplies|          190|245.65019999999996|
|Office Supplies|  Appliances|          466|230.75571030042917|
|Office Supplies|     Binders|         1523|133.56056007879187|
|Office Supplies|   Envelopes|          254| 64.86772440944883|
|Office Supplies|       Paper|         1370|57.284091970802905|
|Office Supplies|      Labels|          364| 34.30305494505494|
|Office Supplies|         Art|          796|34.068834170854274|
|Office Supplies|   Fasteners|          217|13.936774193548388|
|      Furniture|      Tables|          319| 648.7947711598746|
|      Furniture|      Chairs|          617| 532.3324197730956|
|      Furniture|   Bookcases|          228|503.85963289473676|
|      Furniture| Furnishings|          957| 95.82566771159871|
+---------------+------------+-------------+------------------+

In [244]:
##Multiple columns option 2
df.groupBy("Category", "Sub-Category").agg(
                                                F.count("Category").alias("Num of Orders"),
                                                F.avg("Sales").alias("avg_sales")
                                            ).orderBy(["Category", "avg_sales"], ascending=[True, False]).show()

+---------------+------------+-------------+------------------+
|       Category|Sub-Category|Num of Orders|         avg_sales|
+---------------+------------+-------------+------------------+
|      Furniture|      Tables|          319| 648.7947711598746|
|      Furniture|      Chairs|          617| 532.3324197730956|
|      Furniture|   Bookcases|          228|503.85963289473676|
|      Furniture| Furnishings|          957| 95.82566771159871|
|Office Supplies|     Storage|          846| 264.5905531914893|
|Office Supplies|    Supplies|          190|245.65019999999996|
|Office Supplies|  Appliances|          466|230.75571030042917|
|Office Supplies|     Binders|         1523|133.56056007879187|
|Office Supplies|   Envelopes|          254| 64.86772440944883|
|Office Supplies|       Paper|         1370|57.284091970802905|
|Office Supplies|      Labels|          364| 34.30305494505494|
|Office Supplies|         Art|          796|34.068834170854274|
|Office Supplies|   Fasteners|          217|13.936774193548388|
|     Technology|     Copiers|           68|2198.9416176470586|
|     Technology|    Machines|          115|1645.5533130434783|
|     Technology|      Phones|          889| 371.2115343082115|
|     Technology| Accessories|          775| 215.9746038709677|
+---------------+------------+-------------+------------------+

In [245]:
##Multiple columns renaming
result = df.groupBy("Category", "Sub-Category").agg(
    F.count("Category").alias("Num_of_Orders"),
    F.avg("Sales").alias("avg_sales")
)

result = result.withColumnRenamed("Category", "Cat") \
               .withColumnRenamed("Sub-Category", "SubCat")

result.orderBy(F.col("Cat").desc(), F.col("avg_sales").desc()).show()

+---------------+-----------+-------------+------------------+
|            Cat|     SubCat|Num_of_Orders|         avg_sales|
+---------------+-----------+-------------+------------------+
|     Technology|    Copiers|           68|2198.9416176470586|
|     Technology|   Machines|          115|1645.5533130434783|
|     Technology|     Phones|          889| 371.2115343082115|
|     Technology|Accessories|          775| 215.9746038709677|
|Office Supplies|    Storage|          846| 264.5905531914893|
|Office Supplies|   Supplies|          190|245.65019999999996|
|Office Supplies| Appliances|          466|230.75571030042917|
|Office Supplies|    Binders|         1523|133.56056007879187|
|Office Supplies|  Envelopes|          254| 64.86772440944883|
|Office Supplies|      Paper|         1370|57.284091970802905|
|Office Supplies|     Labels|          364| 34.30305494505494|
|Office Supplies|        Art|          796|34.068834170854274|
|Office Supplies|  Fasteners|          217|13.936774193548388|
|      Furniture|     Tables|          319| 648.7947711598746|
|      Furniture|     Chairs|          617| 532.3324197730956|
|      Furniture|  Bookcases|          228|503.85963289473676|
|      Furniture|Furnishings|          957| 95.82566771159871|
+---------------+-----------+-------------+------------------+

## Joins

Join Types in PySpark:

- Inner Join: Returns records with matching keys in both DataFrames
- Left (Outer) Join: Returns all records from left DF, matching records from right
- Right (Outer) Join: Returns all records from right DF, matching records from left
- Full (Outer) Join: Returns all records when there's a match in either DF
- Cross Join: Cartesian product of both DataFrames
- Left Semi Join: Returns records from left DF that have matches in right (no right columns)
- Left Anti Join: Returns records from left DF that have NO matches in right

Reference: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.join.html

In [246]:
##Joins
# Create sample datasets
customers_data = [
    (1, "John Smith", "john@email.com", "New York"),
    (2, "Jane Doe", "jane@email.com", "Los Angeles"),
    (3, "Bob Johnson", "bob@email.com", "Chicago"),
    (4, "Alice Williams", "alice@email.com", "Houston")
]
customers_df = spark.createDataFrame(customers_data, ["customer_id", "name", "email", "city"])

orders_data = [
    (101, 1, "2023-01-15", 150.00, "Delivered"),
    (102, 2, "2023-01-16", 200.00, "Delivered"),
    (103, 1, "2023-01-17", 75.00, "Shipped"),
    (104, 3, "2023-01-18", 300.00, "Processing"),
    (105, 5, "2023-01-19", 125.00, "Delivered")  # Customer 5 doesn't exist
]
orders_df = spark.createDataFrame(orders_data, ["order_id", "customer_id", "order_date", "amount", "status"])

In [247]:
# Inner Join (default)
inner_join = orders_df.join(  ##First dataframe to join
    other = customers_df, ## Second dataframe
    on = orders_df.customer_id == customers_df.customer_id, ##keys to use
    how ="inner" ##Type of join
)
print("Inner Join:")
inner_join.show()

Inner Join:
+--------+-----------+----------+------+----------+-----------+-----------+--------------+-----------+
|order_id|customer_id|order_date|amount|    status|customer_id|       name|         email|       city|
+--------+-----------+----------+------+----------+-----------+-----------+--------------+-----------+
|     101|          1|2023-01-15| 150.0| Delivered|          1| John Smith|john@email.com|   New York|
|     103|          1|2023-01-17|  75.0|   Shipped|          1| John Smith|john@email.com|   New York|
|     102|          2|2023-01-16| 200.0| Delivered|          2|   Jane Doe|jane@email.com|Los Angeles|
|     104|          3|2023-01-18| 300.0|Processing|          3|Bob Johnson| bob@email.com|    Chicago|
+--------+-----------+----------+------+----------+-----------+-----------+--------------+-----------+

In [248]:
# Left Join
left_join = orders_df.join(
    customers_df,
    orders_df.customer_id == customers_df.customer_id,
    "left"
)

print("Left Join (all orders, even without customer):")
left_join.show()

Left Join (all orders, even without customer):
+--------+-----------+----------+------+----------+-----------+-----------+--------------+-----------+
|order_id|customer_id|order_date|amount|    status|customer_id|       name|         email|       city|
+--------+-----------+----------+------+----------+-----------+-----------+--------------+-----------+
|     101|          1|2023-01-15| 150.0| Delivered|          1| John Smith|john@email.com|   New York|
|     102|          2|2023-01-16| 200.0| Delivered|          2|   Jane Doe|jane@email.com|Los Angeles|
|     103|          1|2023-01-17|  75.0|   Shipped|          1| John Smith|john@email.com|   New York|
|     104|          3|2023-01-18| 300.0|Processing|          3|Bob Johnson| bob@email.com|    Chicago|
|     105|          5|2023-01-19| 125.0| Delivered|       NULL|       NULL|          NULL|       NULL|
+--------+-----------+----------+------+----------+-----------+-----------+--------------+-----------+

In [249]:
# Right Join
right_join = orders_df.join(
    customers_df,
    orders_df.customer_id == customers_df.customer_id,
    "right"
)

print("Right Join (all customers, even without orders):")
right_join.show()

Right Join (all customers, even without orders):
+--------+-----------+----------+------+----------+-----------+--------------+---------------+-----------+
|order_id|customer_id|order_date|amount|    status|customer_id|          name|          email|       city|
+--------+-----------+----------+------+----------+-----------+--------------+---------------+-----------+
|     103|          1|2023-01-17|  75.0|   Shipped|          1|    John Smith| john@email.com|   New York|
|     101|          1|2023-01-15| 150.0| Delivered|          1|    John Smith| john@email.com|   New York|
|     102|          2|2023-01-16| 200.0| Delivered|          2|      Jane Doe| jane@email.com|Los Angeles|
|     104|          3|2023-01-18| 300.0|Processing|          3|   Bob Johnson|  bob@email.com|    Chicago|
|    NULL|       NULL|      NULL|  NULL|      NULL|          4|Alice Williams|alice@email.com|    Houston|
+--------+-----------+----------+------+----------+-----------+--------------+---------------+-----------+

In [250]:
# Full Outer Join
full_join = orders_df.join(
    customers_df,
    orders_df.customer_id == customers_df.customer_id,
    "full_outer"
)
print("Full Outer Join:")
full_join.show()

Full Outer Join:
+--------+-----------+----------+------+----------+-----------+--------------+---------------+-----------+
|order_id|customer_id|order_date|amount|    status|customer_id|          name|          email|       city|
+--------+-----------+----------+------+----------+-----------+--------------+---------------+-----------+
|     101|          1|2023-01-15| 150.0| Delivered|          1|    John Smith| john@email.com|   New York|
|     103|          1|2023-01-17|  75.0|   Shipped|          1|    John Smith| john@email.com|   New York|
|     102|          2|2023-01-16| 200.0| Delivered|          2|      Jane Doe| jane@email.com|Los Angeles|
|     104|          3|2023-01-18| 300.0|Processing|          3|   Bob Johnson|  bob@email.com|    Chicago|
|    NULL|       NULL|      NULL|  NULL|      NULL|          4|Alice Williams|alice@email.com|    Houston|
|     105|          5|2023-01-19| 125.0| Delivered|       NULL|          NULL|           NULL|       NULL|
+--------+-----------+----------+------+----------+-----------+--------------+---------------+-----------+

In [251]:
##Multiple Joins:

# Create product data
products_data = [
    (201, "Laptop", "Electronics", 999.99),
    (202, "Mouse", "Electronics", 29.99),
    (203, "Desk", "Furniture", 299.99),
    (204, "Chair", "Furniture", 199.99)
]

order_items_data = [
    (101, 201, 1),
    (101, 202, 2),
    (102, 203, 1),
    (103, 202, 1),
    (104, 201, 2),
    (104, 204, 1)
]

products_df = spark.createDataFrame(products_data,
    ["product_id", "product_name", "category", "price"])
    
order_items_df = spark.createDataFrame(order_items_data,
    ["order_id", "product_id", "quantity"])

# Chain multiple joins
complete_orders = orders_df \
    .join(customers_df, "customer_id", "inner") \
    .join(order_items_df, "order_id", "inner") \
    .join(products_df, "product_id", "inner") \
    .select(
        "order_id",
        "order_date",
        "product_id",
        "name",
        "email",
        "product_name",
        "category",
        "quantity",
        "price"
    )

print("Complete Order Details:")
complete_orders.show()

Complete Order Details:
+--------+----------+----------+-----------+--------------+------------+-----------+--------+------+
|order_id|order_date|product_id|       name|         email|product_name|   category|quantity| price|
+--------+----------+----------+-----------+--------------+------------+-----------+--------+------+
|     101|2023-01-15|       201| John Smith|john@email.com|      Laptop|Electronics|       1|999.99|
|     104|2023-01-18|       201|Bob Johnson| bob@email.com|      Laptop|Electronics|       2|999.99|
|     101|2023-01-15|       202| John Smith|john@email.com|       Mouse|Electronics|       2| 29.99|
|     103|2023-01-17|       202| John Smith|john@email.com|       Mouse|Electronics|       1| 29.99|
|     102|2023-01-16|       203|   Jane Doe|jane@email.com|        Desk|  Furniture|       1|299.99|
|     104|2023-01-18|       204|Bob Johnson| bob@email.com|       Chair|  Furniture|       1|199.99|
+--------+----------+----------+-----------+--------------+------------+-----------+--------+------+

In [252]:
complete_orders.printSchema()

root
 |-- order_id: long (nullable = true)
 |-- order_date: string (nullable = true)
 |-- product_id: long (nullable = true)
 |-- name: string (nullable = true)
 |-- email: string (nullable = true)
 |-- product_name: string (nullable = true)
 |-- category: string (nullable = true)
 |-- quantity: long (nullable = true)
 |-- price: double (nullable = true)

**Exercise:** Get the following output:

In [253]:
##Exercise:
# Chain multiple joins
complete_orders = orders_df \
    .join(customers_df, "customer_id", "inner") \
    .join(order_items_df, "order_id", "inner") \
    .join(products_df, "product_id", "inner") \
    .select(
        "order_id",
        "order_date",
        "product_id",
        "name",
        "email",
        "product_name",
        "category",
        "quantity",
        "price",
        (F.col("quantity") * F.col("price")).alias("line_total")
    )

print("Complete Order Details:")
complete_orders.show()


# Aggregate after joins
#from pyspark.sql.functions import sum, count, collect_list

order_summary = complete_orders.groupBy(
    "order_id", "order_date", "name"
).agg(
    F.sum("line_total").alias("order_total"),
    F.count("product_id").alias("num_items")
)

print("Order Summary:")
order_summary.show(truncate=False)

Complete Order Details:
+--------+----------+----------+-----------+--------------+------------+-----------+--------+------+----------+
|order_id|order_date|product_id|       name|         email|product_name|   category|quantity| price|line_total|
+--------+----------+----------+-----------+--------------+------------+-----------+--------+------+----------+
|     101|2023-01-15|       201| John Smith|john@email.com|      Laptop|Electronics|       1|999.99|    999.99|
|     104|2023-01-18|       201|Bob Johnson| bob@email.com|      Laptop|Electronics|       2|999.99|   1999.98|
|     101|2023-01-15|       202| John Smith|john@email.com|       Mouse|Electronics|       2| 29.99|     59.98|
|     103|2023-01-17|       202| John Smith|john@email.com|       Mouse|Electronics|       1| 29.99|     29.99|
|     102|2023-01-16|       203|   Jane Doe|jane@email.com|        Desk|  Furniture|       1|299.99|    299.99|
|     104|2023-01-18|       204|Bob Johnson| bob@email.com|       Chair|  Furniture|       1|199.99|    199.99|
+--------+----------+----------+-----------+--------------+------------+-----------+--------+------+----------+

Order Summary:
+--------+----------+-----------+------------------+---------+
|order_id|order_date|name       |order_total       |num_items|
+--------+----------+-----------+------------------+---------+
|101     |2023-01-15|John Smith |1059.97           |2        |
|104     |2023-01-18|Bob Johnson|2199.9700000000003|2        |
|103     |2023-01-17|John Smith |29.99             |1        |
|102     |2023-01-16|Jane Doe   |299.99            |1        |
+--------+----------+-----------+------------------+---------+

## Unions

### Requirements for union() to work:

- Same number of columns
- Same column order
- Same data types in corresponding columns

Note: __Column names do not need to match, but the schema (column count and types) must be compatible.__

Reference: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.union.html

In [254]:
# Union combines rows from multiple DataFrames with same schema
sales_q1 = spark.createDataFrame([
    (1, "2023-01-15", 1000),
    (2, "2023-02-20", 1500)
], ["sale_id", "date", "amount"])

sales_q2 = spark.createDataFrame([
    (3, "2023-04-10", 2000),
    (4, "2023-05-15", 1800)
], ["sale_id", "date", "amount"])

# Union (includes duplicates)
all_sales = sales_q1.union(sales_q2)
print("Union:")
all_sales.show()

Union:
+-------+----------+------+
|sale_id|      date|amount|
+-------+----------+------+
|      1|2023-01-15|  1000|
|      2|2023-02-20|  1500|
|      3|2023-04-10|  2000|
|      4|2023-05-15|  1800|
+-------+----------+------+

In [255]:
# Different column name,s ame schema
sales_q1 = spark.createDataFrame([
    (1, "2023-01-15", 1000),
    (2, "2023-02-20", 1500)
], ["sale_id", "date", "amount"])

sales_q2 = spark.createDataFrame([
    (3, "2023-04-10", 2000),
    (4, "2023-05-15", 1800)
], ["sale_id", "date", "amnt"]) ## change the name of a single column

# Union (includes duplicates)
all_sales = sales_q1.union(sales_q2)
print("Union:")
all_sales.show()

Union:
+-------+----------+------+
|sale_id|      date|amount|
+-------+----------+------+
|      1|2023-01-15|  1000|
|      2|2023-02-20|  1500|
|      3|2023-04-10|  2000|
|      4|2023-05-15|  1800|
+-------+----------+------+

In [256]:
# Same columns, differrent schema
sales_q1 = spark.createDataFrame([
    (1, "2023-01-15", 1000),
    (2, "2023-02-20", 1500)
], ["sale_id", "date", "amount"])
print(sales_q1.printSchema)


sales_q2 = spark.createDataFrame([
    (3, "2023-04-10", "hola"),
    (4, "2023-05-15", "hi")
], ["sale_id", "date", "amount"])
print(sales_q2.printSchema)


# Union (includes duplicates)
all_sales = sales_q1.union(sales_q2)
print("Union:")
all_sales.show()
print(sales_q2.printSchema)

<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: bigint]>
<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: string]>
Union:
+-------+----------+------+
|sale_id|      date|amount|
+-------+----------+------+
|      1|2023-01-15|  1000|
|      2|2023-02-20|  1500|
|      3|2023-04-10|  hola|
|      4|2023-05-15|    hi|
+-------+----------+------+

<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: string]>

In [257]:
# Same columns, differrent schema
sales_q1 = spark.createDataFrame([
    (1, "2023-01-15", 1000),
    (2, "2023-02-20", 1500)
], ["sale_id", "date", "amount"])
print(sales_q1.printSchema)


sales_q2 = spark.createDataFrame([
    (3, "2023-04-10", 2000.544554),
    (4, "2023-05-15", 1800.323232)
], ["sale_id", "date", "amount"])
print(sales_q2.printSchema)


# Union (includes duplicates)
all_sales = sales_q1.union(sales_q2)
print("Union:")
all_sales.show()
print(sales_q2.printSchema)

<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: bigint]>
<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: double]>
Union:
+-------+----------+-----------+
|sale_id|      date|     amount|
+-------+----------+-----------+
|      1|2023-01-15|     1000.0|
|      2|2023-02-20|     1500.0|
|      3|2023-04-10|2000.544554|
|      4|2023-05-15|1800.323232|
+-------+----------+-----------+

<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: double]>

In [258]:
# Same columns, differrent schema
sales_q1 = spark.createDataFrame([
    (1, "2023-01-15", 1000),
    (2, "2023-02-20", 1500)
], ["sale_id", "date", "amount"])
print(sales_q1.printSchema)


sales_q2 = spark.createDataFrame([
    (3, "2023-04-10", 2000.544554, 'hola'),
    (4, "2023-05-15", 1800.323232, 'adios')
], ["sale_id", "date", "amount", "col1"])
print(sales_q2.printSchema)


# Union (includes duplicates)
all_sales = sales_q1.union(sales_q2)
print("Union:")
all_sales.show()
print(sales_q2.printSchema)

<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: bigint]>
<bound method DataFrame.printSchema of DataFrame[sale_id: bigint, date: string, amount: double, col1: string]>

AnalysisException: [NUM_COLUMNS_MISMATCH] UNION can only be performed on inputs with the same number of columns, but the first input has 3 columns and the second input has 4 columns.;
'Union false, false
:- LogicalRDD [sale_id#14690L, date#14691, amount#14692L], false
+- LogicalRDD [sale_id#14696L, date#14697, amount#14698, col1#14699], false

## SQL Approach

**Familiarity**: SQL is widely known - enables analysts and data engineers to leverage existing skills without learning new syntax

**Readability**: Complex queries are often clearer in SQL, especially for joins, aggregations, and subqueries

**Team Collaboration**: Mixed teams (SQL experts + Python developers) can work together more easily

**Quick Prototyping**: Faster to write queries for exploration and ad-hoc analysis

**Flexibility**: Switch between SQL and DataFrame API as needed - use SQL for complex logic, DataFrame API for programmatic operations

**Same Performance**: Both approaches use the same Catalyst optimiser - no performance difference

**Bottom Line**: Use SQL when it's more natural/readable; use DataFrame API when you need programmatic control or dynamic operations.

**Reference:** https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/api/pyspark.sql.DataFrame.createOrReplaceTempView.html

In [ ]:
##SQL approach
superstore_df = spark.read.csv('../DataSources/superstore.csv',inferSchema=True,header=True)
superstore_df.printSchema()
superstore_df = superstore_df.withColumn("sales", F.col("sales").cast("double")) \
       .withColumn("quantity", F.col("quantity").cast("int")) \
       .withColumn("discount", F.col("discount").cast("double"))
superstore_df.printSchema()
superstore_df.show()

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Discount: string (nullable = true)
 |-- Profit: double (nullable = true)

root
 |-- Row ID: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: integer (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- discount: double (nullable = true)
 |-- Profit: double (nullable = true)

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   sales|quantity|discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|"Stur-D-Stor Shel...|  665.88|       6|     0.0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|     0.0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|     0.0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

In [ ]:
from pyspark.sql import functions as F
##AWS S3 Bucket:
import pandas as pd
url = "https://rockborne-bucket-01-cbs.s3.eu-west-2.amazonaws.com/DataSources/superstore.csv"
# Read with pandas
pandas_df = pd.read_csv(url, encoding='latin-1')
# Convert to PySpark
superstore_df = spark.createDataFrame(pandas_df)
superstore_df.printSchema()
superstore_df = superstore_df.withColumn("sales", F.col("sales").cast("double")) \
       .withColumn("quantity", F.col("quantity").cast("int")) \
       .withColumn("discount", F.col("discount").cast("double"))
superstore_df.printSchema()
superstore_df.show()

root
 |-- Row ID: long (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: long (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

root
 |-- Row ID: long (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: long (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- discount: double (nullable = true)
 |-- Profit: double (nullable = true)

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   sales|quantity|discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|Stur-D-Stor Shelv...|  665.88|       6|     0.0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|     0.0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|     0.0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

In [ ]:
##Creating the view
superstore_df.createOrReplaceTempView("superstore")

In [ ]:
##General query:

spark.sql("SELECT * " \
"           FROM superstore " \
"           LIMIT 2").show()

+------+--------------+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
|Row ID|      Order ID|Order Date| Ship Date|   Ship Mode|Customer ID|Customer Name| Segment|      Country|     City|   State|Postal Code|Region|     Product ID| Category|Sub-Category|        Product Name| sales|quantity|discount| Profit|
+------+--------------+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|  Claire Gute|Consumer|United States|Henderson|Kentucky|      42420| South|FUR-BO-10001798|Furniture|   Bookcases|Bush Somerset Col...|261.96|       2|     0.0|41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|Second Class|   CG-12520|  Claire Gute|Consumer|United States|Henderson|Kentucky|      42420| South|FUR-CH-10000454|Furniture|      Chairs|Hon Deluxe Fabric...|731.94|       3|     0.0|219.582|
+------+--------------+----------+----------+------------+-----------+-------------+--------+-------------+---------+--------+-----------+------+---------------+---------+------------+--------------------+------+--------+--------+-------+

In [ ]:
print('Filtering with PySpark method')
df.filter(df["Sales"] < 200).show(5)

Filtering with PySpark method
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|      Country|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name| sales|quantity|discount| Profit|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...| 14.62|       2|     0.0| 6.8714|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|22.368|       2|     0.2| 2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...| 48.86|       7|     0.0|14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|  7.28|       4|     0.0| 1.9656|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|18.504|       3|     0.2| 5.7825|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
only showing top 5 rows

In [ ]:
##Filtering with SQL:
spark.sql("SELECT * " \
"           FROM superstore " \
"           WHERE Sales < 200").show(5)

+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|  Customer Name|  Segment|      Country|           City|     State|Postal Code|Region|     Product ID|       Category|Sub-Category|        Product Name| sales|quantity|discount| Profit|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|Darrin Van Huff|Corporate|United States|    Los Angeles|California|      90036|  West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...| 14.62|       2|     0.0| 6.8714|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335| Sean O'Donnell| Consumer|United States|Fort Lauderdale|   Florida|      33311| South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|22.368|       2|     0.2| 2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...| 48.86|       7|     0.0|14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|  7.28|       4|     0.0| 1.9656|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|Brosina Hoffman| Consumer|United States|    Los Angeles|California|      90032|  West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|18.504|       3|     0.2| 5.7825|
+------+--------------+----------+----------+--------------+-----------+---------------+---------+-------------+---------------+----------+-----------+------+---------------+---------------+------------+--------------------+------+--------+--------+-------+
only showing top 5 rows

In [ ]:
spark.sql("SELECT `Order ID`, Country, City" \
"           FROM superstore " \
"           WHERE Sales < 200").show(5)

+--------------+-------------+---------------+
|      Order ID|      Country|           City|
+--------------+-------------+---------------+
|CA-2016-138688|United States|    Los Angeles|
|US-2015-108966|United States|Fort Lauderdale|
|CA-2014-115812|United States|    Los Angeles|
|CA-2014-115812|United States|    Los Angeles|
|CA-2014-115812|United States|    Los Angeles|
+--------------+-------------+---------------+
only showing top 5 rows

In [ ]:

print('With SQL')
spark.sql("SELECT `Order ID` as ORDERID, Country AS `COU ntry`, City AS CITY" \
"           FROM superstore " \
"           WHERE Sales < 200").show(5)

print('With Spark')
superstore_df.filter(F.col("Sales") < 200) \
    .select(
        F.col("Order ID").alias("ORDERID"),
        F.col("Country").alias("COU ntry"),
        F.col("City")
    ).show(5)

With SQL
+--------------+-------------+---------------+
|       ORDERID|     COU ntry|           CITY|
+--------------+-------------+---------------+
|CA-2016-138688|United States|    Los Angeles|
|US-2015-108966|United States|Fort Lauderdale|
|CA-2014-115812|United States|    Los Angeles|
|CA-2014-115812|United States|    Los Angeles|
|CA-2014-115812|United States|    Los Angeles|
+--------------+-------------+---------------+
only showing top 5 rows

With Spark
+--------------+-------------+---------------+
|       ORDERID|     COU ntry|           City|
+--------------+-------------+---------------+
|CA-2016-138688|United States|    Los Angeles|
|US-2015-108966|United States|Fort Lauderdale|
|CA-2014-115812|United States|    Los Angeles|
|CA-2014-115812|United States|    Los Angeles|
|CA-2014-115812|United States|    Los Angeles|
+--------------+-------------+---------------+
only showing top 5 rows

In [ ]:

print('With SQL')
spark.sql("SELECT `Order ID` as ORDERID, Country AS `COU ntry`, City AS CITY" \
"           FROM superstore " \
"           WHERE Sales < 200 AND Region = 'West'").show(5)

print('With Spark')
superstore_df.filter((F.col("Sales") < 200) & (F.col("Region") == 'West')) \
    .select(
        F.col("Order ID").alias("ORDERID"),
        F.col("Country").alias("COU ntry"),
        F.col("City")
    ).show(5)

With SQL
+--------------+-------------+-----------+
|       ORDERID|     COU ntry|       CITY|
+--------------+-------------+-----------+
|CA-2016-138688|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
+--------------+-------------+-----------+
only showing top 5 rows

With Spark
+--------------+-------------+-----------+
|       ORDERID|     COU ntry|       City|
+--------------+-------------+-----------+
|CA-2016-138688|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
|CA-2014-115812|United States|Los Angeles|
+--------------+-------------+-----------+
only showing top 5 rows

In [ ]:
##GroupBys:

##Multiple columns
from pyspark.sql import functions as F
superstore_df.groupBy("Category", "Sub-Category").agg(
                                                F.count("Category").alias("Num of Orders"),
                                                F.avg("Sales").alias("avg_sales")
                                            ).orderBy(F.col("Category").desc(), F.col("avg_sales").desc()).show()

+---------------+------------+-------------+------------------+
|       Category|Sub-Category|Num of Orders|         avg_sales|
+---------------+------------+-------------+------------------+
|     Technology|     Copiers|           68| 2198.941617647058|
|     Technology|    Machines|          115| 1645.553313043478|
|     Technology|      Phones|          889| 374.2940839954598|
|     Technology| Accessories|          775|215.97460387096785|
|Office Supplies|     Storage|          846| 264.0721218026798|
|Office Supplies|    Supplies|          190| 261.0935795454546|
|Office Supplies|  Appliances|          466|230.75571030042917|
|Office Supplies|     Binders|         1523| 139.5015471039777|
|Office Supplies|   Envelopes|          254| 62.35565040650403|
|Office Supplies|       Paper|         1370| 59.47602052091554|
|Office Supplies|      Labels|          364|34.303054945054946|
|Office Supplies|         Art|          796| 34.06883417085422|
|Office Supplies|   Fasteners|          217|14.191773584905658|
|      Furniture|      Tables|          319| 648.7947711598749|
|      Furniture|      Chairs|          617| 532.3324197730968|
|      Furniture|   Bookcases|          228| 503.8596328947367|
|      Furniture| Furnishings|          957| 90.93651648351653|
+---------------+------------+-------------+------------------+

In [ ]:

print('With SQL')
spark.sql("SELECT Category, `Sub-Category`, count(Category) AS `Num of Orders`, avg(Sales) as avg_sales" \
"           FROM superstore " \
"           GROUP BY Category, `Sub-Category`"\
"           ORDER BY Category desc, avg(Sales) desc"
            ).show()

With SQL
+---------------+------------+-------------+------------------+
|       Category|Sub-Category|Num of Orders|         avg_sales|
+---------------+------------+-------------+------------------+
|     Technology|     Copiers|           68| 2198.941617647058|
|     Technology|    Machines|          115| 1645.553313043478|
|     Technology|      Phones|          889| 374.2940839954598|
|     Technology| Accessories|          775|215.97460387096785|
|Office Supplies|     Storage|          846| 264.0721218026798|
|Office Supplies|    Supplies|          190| 261.0935795454546|
|Office Supplies|  Appliances|          466|230.75571030042917|
|Office Supplies|     Binders|         1523| 139.5015471039777|
|Office Supplies|   Envelopes|          254| 62.35565040650403|
|Office Supplies|       Paper|         1370| 59.47602052091554|
|Office Supplies|      Labels|          364|34.303054945054946|
|Office Supplies|         Art|          796| 34.06883417085422|
|Office Supplies|   Fasteners|          217|14.191773584905658|
|      Furniture|      Tables|          319| 648.7947711598749|
|      Furniture|      Chairs|          617| 532.3324197730968|
|      Furniture|   Bookcases|          228| 503.8596328947367|
|      Furniture| Furnishings|          957| 90.93651648351653|
+---------------+------------+-------------+------------------+

In [ ]:
##Joins with SQL
# Create sample datasets
customers_data = [
    (1, "John Smith", "john@email.com", "New York"),
    (2, "Jane Doe", "jane@email.com", "Los Angeles"),
    (3, "Bob Johnson", "bob@email.com", "Chicago"),
    (4, "Alice Williams", "alice@email.com", "Houston")
]
customers_df = spark.createDataFrame(customers_data, ["customer_id", "name", "email", "city"])

orders_data = [
    (101, 1, "2023-01-15", 150.00, "Delivered"),
    (102, 2, "2023-01-16", 200.00, "Delivered"),
    (103, 1, "2023-01-17", 75.00, "Shipped"),
    (104, 3, "2023-01-18", 300.00, "Processing"),
    (105, 5, "2023-01-19", 125.00, "Delivered")
]
orders_df = spark.createDataFrame(orders_data, ["order_id", "customer_id", "order_date", "amount", "status"])

# Register the CORRECT DataFrames
customers_df.createOrReplaceTempView("customer_data")  
orders_df.createOrReplaceTempView("orders_data")

In [ ]:
spark.sql(
    "SELECT * " \
    "FROM customer_data as cd, orders_data as od " \
    "WHERE cd.customer_id = od.customer_id"
).show()

+-----------+-----------+--------------+-----------+--------+-----------+----------+------+----------+
|customer_id|       name|         email|       city|order_id|customer_id|order_date|amount|    status|
+-----------+-----------+--------------+-----------+--------+-----------+----------+------+----------+
|          1| John Smith|john@email.com|   New York|     101|          1|2023-01-15| 150.0| Delivered|
|          1| John Smith|john@email.com|   New York|     103|          1|2023-01-17|  75.0|   Shipped|
|          2|   Jane Doe|jane@email.com|Los Angeles|     102|          2|2023-01-16| 200.0| Delivered|
|          3|Bob Johnson| bob@email.com|    Chicago|     104|          3|2023-01-18| 300.0|Processing|
+-----------+-----------+--------------+-----------+--------+-----------+----------+------+----------+

In [ ]:
spark.sql(
    "SELECT * " \
    "FROM customer_data as cd " \
    "JOIN orders_data as od ON cd.customer_id = od.customer_id"
).show()

+-----------+-----------+--------------+-----------+--------+-----------+----------+------+----------+
|customer_id|       name|         email|       city|order_id|customer_id|order_date|amount|    status|
+-----------+-----------+--------------+-----------+--------+-----------+----------+------+----------+
|          1| John Smith|john@email.com|   New York|     101|          1|2023-01-15| 150.0| Delivered|
|          1| John Smith|john@email.com|   New York|     103|          1|2023-01-17|  75.0|   Shipped|
|          2|   Jane Doe|jane@email.com|Los Angeles|     102|          2|2023-01-16| 200.0| Delivered|
|          3|Bob Johnson| bob@email.com|    Chicago|     104|          3|2023-01-18| 300.0|Processing|
+-----------+-----------+--------------+-----------+--------+-----------+----------+------+----------+

In [ ]:
spark.sql(
    "SELECT * " \
    "FROM customer_data as cd " \
    "LEFT JOIN orders_data as od ON cd.customer_id = od.customer_id"
).show()

+-----------+--------------+---------------+-----------+--------+-----------+----------+------+----------+
|customer_id|          name|          email|       city|order_id|customer_id|order_date|amount|    status|
+-----------+--------------+---------------+-----------+--------+-----------+----------+------+----------+
|          1|    John Smith| john@email.com|   New York|     103|          1|2023-01-17|  75.0|   Shipped|
|          1|    John Smith| john@email.com|   New York|     101|          1|2023-01-15| 150.0| Delivered|
|          2|      Jane Doe| jane@email.com|Los Angeles|     102|          2|2023-01-16| 200.0| Delivered|
|          3|   Bob Johnson|  bob@email.com|    Chicago|     104|          3|2023-01-18| 300.0|Processing|
|          4|Alice Williams|alice@email.com|    Houston|    NULL|       NULL|      NULL|  NULL|      NULL|
+-----------+--------------+---------------+-----------+--------+-----------+----------+------+----------+

In [ ]:
# Union 
sales_q1 = spark.createDataFrame([
    (1, "2023-01-15", 1000),
    (2, "2023-02-20", 1500),
    (3, "2023-03-20", 2500)
], ["sale_id", "date", "amount"])

sales_q2 = spark.createDataFrame([
    (3, "2023-03-20", 2500),
    (4, "2023-04-10", 2600),
    (5, "2023-05-15", 1800),
    (6, "2023-06-20", 9500)
], ["sale_id", "date", "amount"])

# Union (includes duplicates)

sales_q1.createOrReplaceTempView("sales_q1")  
sales_q2.createOrReplaceTempView("sales_q2")       

# UNION - removes duplicates
spark.sql(
    "SELECT * FROM sales_q1 " \
    "UNION " \
    "SELECT * FROM sales_q2"
).show()


# UNION ALL - keeps duplicates (faster)
spark.sql(
    "SELECT * FROM sales_q1 " \
    "UNION ALL " \
    "SELECT * FROM sales_q2"
).show()

+-------+----------+------+
|sale_id|      date|amount|
+-------+----------+------+
|      1|2023-01-15|  1000|
|      2|2023-02-20|  1500|
|      3|2023-03-20|  2500|
|      4|2023-04-10|  2600|
|      5|2023-05-15|  1800|
|      6|2023-06-20|  9500|
+-------+----------+------+

+-------+----------+------+
|sale_id|      date|amount|
+-------+----------+------+
|      1|2023-01-15|  1000|
|      2|2023-02-20|  1500|
|      3|2023-03-20|  2500|
|      3|2023-03-20|  2500|
|      4|2023-04-10|  2600|
|      5|2023-05-15|  1800|
|      6|2023-06-20|  9500|
+-------+----------+------+

In [ ]:
##To see what views are on the environment
spark.catalog.listTables()

[Table(name='customer_data', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='orders_data', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='sales_q1', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='sales_q2', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True),
 Table(name='superstore', catalog=None, namespace=[], description=None, tableType='TEMPORARY', isTemporary=True)]

## To Python objects:

In [ ]:
##To Python objects
##Pandas
customers_df.toPandas()

   customer_id            name            email         city
0            1      John Smith   john@email.com     New York
1            2        Jane Doe   jane@email.com  Los Angeles
2            3     Bob Johnson    bob@email.com      Chicago
3            4  Alice Williams  alice@email.com      Houston

In [ ]:
##To lists
rows_list = customers_df.collect()
rows_list

[Row(customer_id=1, name='John Smith', email='john@email.com', city='New York'),
 Row(customer_id=2, name='Jane Doe', email='jane@email.com', city='Los Angeles'),
 Row(customer_id=3, name='Bob Johnson', email='bob@email.com', city='Chicago'),
 Row(customer_id=4, name='Alice Williams', email='alice@email.com', city='Houston')]

In [ ]:
for row in rows_list:
    print(row['name'], row['email'])

John Smith john@email.com
Jane Doe jane@email.com
Bob Johnson bob@email.com
Alice Williams alice@email.com

In [ ]:
##List of dictionaries:
list_of_dicts = [row.asDict() for row in customers_df.collect()]
list_of_dicts

[{'customer_id': 1,
  'name': 'John Smith',
  'email': 'john@email.com',
  'city': 'New York'},
 {'customer_id': 2,
  'name': 'Jane Doe',
  'email': 'jane@email.com',
  'city': 'Los Angeles'},
 {'customer_id': 3,
  'name': 'Bob Johnson',
  'email': 'bob@email.com',
  'city': 'Chicago'},
 {'customer_id': 4,
  'name': 'Alice Williams',
  'email': 'alice@email.com',
  'city': 'Houston'}]

**Important Warnings**

Memory: collect() and toPandas() bring all data to the driver node. For large datasets, this can cause out-of-memory errors.

Use Case: Only extract to Python objects when:

- Dataset is small enough to fit in memory
- You need final results for visualization or reporting
- You're doing analysis that requires Pandas/Python libraries

---
<a name="anchorMissing" style="position:absolute;"></a>
## 3.2 Handling Missing Data
---

Here we revisit the data we used in the EDA and Visualisation Workbook to compare how we handle the same data in PySpark.

In [259]:
#df = spark.read.csv("../DataSources/Production.Product.csv",sep='\t',header=True,inferSchema=True)

In [ ]:
import pandas as pd
import numpy as np
import csv
from pyspark.sql import functions as F, types as T
# Assuming 'spark' is already defined (your SparkSession)
url = "https://rockborne-bucket-01-cbs.s3.eu-west-2.amazonaws.com/DataSources/Production.Product.csv"
dfp = pd.read_csv(
    url,
    sep="\t",
    encoding="utf-8-sig",
    engine="python",
    quoting=csv.QUOTE_NONE,
    na_values=["NaN","NAN","NULL","Null","None","", " "],  # treat as missing
    keep_default_na=True
)

# remove wrapping quotes from strings
#dfp = dfp.apply(lambda s: s.str.strip('"') if s.dtype == "object" else s)
##Creating the dataFrame
df = spark.createDataFrame(dfp)

MISSING = ["NaN", "NAN", "NULL", "Null", "None", "", " "]  # tokens to null out

# Identify column types
string_cols = [f.name for f in df.schema.fields if isinstance(f.dataType, T.StringType)]
numeric_cols = [f.name for f in df.schema.fields if isinstance(f.dataType, (T.IntegerType, T.LongType, T.FloatType, T.DoubleType, T.DecimalType))]

# Apply transformations based on column type
selection_list = []
for c in df.columns:
    if c in string_cols:
        # Transformation for String Columns: Trim, then null out MISSING tokens
        selection_list.append(
            F.when(F.trim(F.col(c)).isin(MISSING), None)
             .otherwise(F.col(c))
             .alias(c)
        )
    elif c in numeric_cols:
        # Transformation for Numeric Columns: Explicitly set NaN/inf values to None (null)
        # Note: Spark often handles numeric nulls, but this is explicit.
        # We can also handle specific string tokens if the numeric columns are still messy.
        selection_list.append(
            F.when(F.col(c).isNull() | F.isnan(F.col(c)) | F.col(c).isin([float('inf'), float('-inf')]), None)
             .otherwise(F.col(c))
             .alias(c)
        )
    else:
        # No change for other types (e.g., Date, Boolean)
        selection_list.append(F.col(c))

# Apply the transformations
df = df.select(selection_list)

### **Finding missing data**

In [262]:
df.show()

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

In [263]:
df.select(df['Color'].isNull()).show()

+---------------+
|(Color IS NULL)|
+---------------+
|           true|
|           true|
|           true|
|           true|
|           true|
|          false|
|          false|
|          false|
|          false|
|          false|
|          false|
|           true|
|           true|
|           true|
|           true|
|           true|
|           true|
|           true|
|           true|
|           true|
+---------------+
only showing top 20 rows

How do we find out the rows with the missing values?

In [264]:
df.where(df['Color'].isNull()).show()

+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0| NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0| NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0| NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0| NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0| NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
|      341|       Flat Washer 1|      FW-1000|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A3F2FA3A-22E1-43...|2014-02-08 10:01:...|
|      342|       Flat Washer 6|      FW-1200|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{331ADDEC-E9B9-4A...|2014-02-08 10:01:...|
|      343|       Flat Washer 2|      FW-1400|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{84A3473E-AE26-4A...|2014-02-08 10:01:...|
|      344|       Flat Washer 9|      FW-3400|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{0AE4CE60-5242-48...|2014-02-08 10:01:...|
|      345|       Flat Washer 4|      FW-3800|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{2C1C58B4-234C-4B...|2014-02-08 10:01:...|
|      346|       Flat Washer 3|      FW-5160|       0|                0| NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{590C2C3F-A8B6-42...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

We can use list comprehension in combination with our spark commands to find all of the nulls in the dataframe on a column by column basis

Reference: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/functions.html

In [265]:
# Find Count of Null, None, NaN of All DataFrame Columns
df.select([F.count(F.when(F.col(c).isNull(), c)).alias(c) for c in df.columns]).show()

+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+
|ProductID|Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|SellStartDate|SellEndDate|DiscontinuedDate|rowguid|ModifiedDate|
+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+
|        0|   0|            0|       0|                0|  248|               0|           0|           0|        0| 293|                328|                  299|   299|                0|        226|  257|  293|                 209|           209|            0|        406|             504|      0|           0|
+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+

### **Drop missing data**

In [266]:
df.show()

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

Dropping any rows that contain missing data:

In [267]:
df.na.drop().show()

+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+
|ProductID|Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|SellStartDate|SellEndDate|DiscontinuedDate|rowguid|ModifiedDate|
+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+
+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+

Dropping rows that have at least 22 **NON**-null values:

In [268]:
#type(df.columns)
#len(df.columns)
df.na.drop(thresh=22).show()

+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|        SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
|      680|HL Road Frame - B...|   FR-R92B-58|       1|                1|Black|             500|         375|     1059.31|   1431.5|  58|                CM |                  LB |  2.24|                1|         R |   H |   U |                14.0|           6.0|2008-04-30 00:00:00|               NULL|            NULL|{43DD68D6-14A4-46...|2014-02-08 10:01:...|
|      706|HL Road Frame - R...|   FR-R92R-58|       1|                1|  Red|             500|         375|     1059.31|   1431.5|  58|                CM |                  LB |  2.24|                1|         R |   H |   U |                14.0|           6.0|2008-04-30 00:00:00|               NULL|            NULL|{9540FF17-2712-4C...|2014-02-08 10:01:...|
|      717|HL Road Frame - R...|   FR-R92R-62|       1|                1|  Red|             500|         375|    868.6342|   1431.5|  62|                CM |                  LB |   2.3|                1|         R |   H |   U |                14.0|           6.0|2011-05-31 00:00:00|               NULL|            NULL|{052E4F8B-0A2A-46...|2014-02-08 10:01:...|
|      718|HL Road Frame - R...|   FR-R92R-44|       1|                1|  Red|             500|         375|    868.6342|   1431.5|  44|                CM |                  LB |  2.12|                1|         R |   H |   U |                14.0|           6.0|2011-05-31 00:00:00|               NULL|            NULL|{A88D3B54-2CAE-43...|2014-02-08 10:01:...|
|      719|HL Road Frame - R...|   FR-R92R-48|       1|                1|  Red|             500|         375|    868.6342|   1431.5|  48|                CM |                  LB |  2.16|                1|         R |   H |   U |                14.0|           6.0|2011-05-31 00:00:00|               NULL|            NULL|{07BEFC9A-7634-40...|2014-02-08 10:01:...|
|      720|HL Road Frame - R...|   FR-R92R-52|       1|                1|  Red|             500|         375|    868.6342|   1431.5|  52|                CM |                  LB |   2.2|                1|         R |   H |   U |                14.0|           6.0|2011-05-31 00:00:00|               NULL|            NULL|{FCFEA68F-310E-4E...|2014-02-08 10:01:...|
|      721|HL Road Frame - R...|   FR-R92R-56|       1|                1|  Red|             500|         375|    868.6342|   1431.5|  56|                CM |                  LB |  2.24|                1|         R |   H |   U |                14.0|           6.0|2011-05-31 00:00:00|               NULL|            NULL|{56C85873-4993-41...|2014-02-08 10:01:...|
|      722|LL Road Frame - B...|   FR-R38B-58|       1|                1|Black|             500|         375|    204.6251|   337.22|  58|                CM |                  LB |  2.46|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|               NULL|            NULL|{2140F256-F705-4D...|2014-02-08 10:01:...|
|      723|LL Road Frame - B...|   FR-R38B-60|       1|                1|Black|             500|         375|    204.6251|   337.22|  60|                CM |                  LB |  2.48|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|               NULL|            NULL|{AA95E2A5-E7C4-4B...|2014-02-08 10:01:...|
|      724|LL Road Frame - B...|   FR-R38B-62|       1|                1|Black|             500|         375|    204.6251|   337.22|  62|                CM |                  LB |   2.5|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|               NULL|            NULL|{5247BE33-50BF-45...|2014-02-08 10:01:...|
|      725|LL Road Frame - R...|   FR-R38R-44|       1|                1|  Red|             500|         375|    187.1571|   337.22|  44|                CM |                  LB |  2.32|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|2013-05-29 00:00:00|            NULL|{137D319D-44AD-42...|2014-02-08 10:01:...|
|      726|LL Road Frame - R...|   FR-R38R-48|       1|                1|  Red|             500|         375|    187.1571|   337.22|  48|                CM |                  LB |  2.36|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|2013-05-29 00:00:00|            NULL|{35213547-275F-47...|2014-02-08 10:01:...|
|      727|LL Road Frame - R...|   FR-R38R-52|       1|                1|  Red|             500|         375|    187.1571|   337.22|  52|                CM |                  LB |   2.4|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|2013-05-29 00:00:00|            NULL|{C455E0B3-D716-41...|2014-02-08 10:01:...|
|      728|LL Road Frame - R...|   FR-R38R-58|       1|                1|  Red|             500|         375|    187.1571|   337.22|  58|                CM |                  LB |  2.46|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|2013-05-29 00:00:00|            NULL|{799A56FF-5AD2-41...|2014-02-08 10:01:...|
|      729|LL Road Frame - R...|   FR-R38R-60|       1|                1|  Red|             500|         375|    187.1571|   337.22|  60|                CM |                  LB |  2.48|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|2013-05-29 00:00:00|            NULL|{1784BB14-D1F5-4B...|2014-02-08 10:01:...|
|      730|LL Road Frame - R...|   FR-R38R-62|       1|                1|  Red|             500|         375|    187.1571|   337.22|  62|                CM |                  LB |   2.5|                1|         R |   L |   U |                14.0|           9.0|2011-05-31 00:00:00|2013-05-29 00:00:00|            NULL|{7E73AA1F-8569-4D...|2014-02-08 10:01:...|
|      731|ML Road Frame - R...|   FR-R72R-44|       1|                1|  Red|             500|         375|    352.1394|   594.83|  44|                CM |                  LB |  2.22|                1|         R |   M |   U |                14.0|          16.0|2011-05-31 00:00:00|2012-05-29 00:00:00|            NULL|{459E041C-3234-40...|2014-02-08 10:01:...|
|      732|ML Road Frame - R...|   FR-R72R-48|       1|                1|  Red|             500|         375|    352.1394|   594.83|  48|                CM |                  LB |  2.26|                1|         R |   M |   U |                14.0|          16.0|2011-05-31 00:00:00|2012-05-29 00:00:00|            NULL|{B673189C-C042-41...|2014-02-08 10:01:...|
|      733|ML Road Frame - R...|   FR-R72R-52|       1|                1|  Red|             500|         375|    352.1394|   594.83|  52|                CM |                  LB |   2.3|                1|         R |   M |   U |                14.0|          16.0|2011-05-31 00:00:00|2012-05-29 00:00:00|            NULL|{55EA276B-82D8-4C...|2014-02-08 10:01:...|
|      734|ML Road Frame - R...|   FR-R72R-58|       1|                1|  Red|             500|         375|    352.1394|   594.83|  58|                CM |                  LB |  2.36|                1|         R |   M |   U |                14.0|          16.0|2011-05-31 00:00:00|2012-05-29 00:00:00|            NULL|{DF4CE1E2-BA9A-46...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
only showing top 20 rows

Dropping any rows where the Color column value is null:

In [269]:
df.na.drop(subset=["Color"]).show()

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|        SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      332|           Freewheel|      FH-2981|       0|                0|Silver|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{D864879A-E8B1-4F...|2014-02-08 10:01:...|
|      351|Front Derailleur ...|      FC-3982|       0|                0|Silver|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{01C901E3-4323-48...|2014-02-08 10:01:...|
|      352|Front Derailleur ...|      FL-2301|       0|                0|Silver|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{88ED2E08-E775-49...|2014-02-08 10:01:...|
|      461|           Lock Ring|      LR-2398|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{AECA59DA-B61C-49...|2014-02-08 10:01:...|
|      679|Rear Derailleur Cage|      RC-0291|       0|                0|Silver|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|               NULL|            NULL|{912B03EA-4447-48...|2014-02-08 10:01:...|
|      680|HL Road Frame - B...|   FR-R92B-58|       1|                1| Black|             500|         375|     1059.31|   1431.5|  58|                CM |                  LB |  2.24|                1|         R |   H |   U |                14.0|           6.0|2008-04-30 00:00:00|               NULL|            NULL|{43DD68D6-14A4-46...|2014-02-08 10:01:...|
|      706|HL Road Frame - R...|   FR-R92R-58|       1|                1|   Red|             500|         375|     1059.31|   1431.5|  58|                CM |                  LB |  2.24|                1|         R |   H |   U |                14.0|           6.0|2008-04-30 00:00:00|               NULL|            NULL|{9540FF17-2712-4C...|2014-02-08 10:01:...|
|      707|Sport-100 Helmet,...|    HL-U509-R|       0|                1|   Red|               4|           3|     13.0863|    34.99|NULL|               NULL|                 NULL|  NULL|                0|         S | NULL| NULL|                31.0|          33.0|2011-05-31 00:00:00|               NULL|            NULL|{2E1EF41A-C08A-4F...|2014-02-08 10:01:...|
|      708|Sport-100 Helmet,...|      HL-U509|       0|                1| Black|               4|           3|     13.0863|    34.99|NULL|               NULL|                 NULL|  NULL|                0|         S | NULL| NULL|                31.0|          33.0|2011-05-31 00:00:00|               NULL|            NULL|{A25A44FB-C2DE-42...|2014-02-08 10:01:...|
|      709|Mountain Bike Soc...|    SO-B909-M|       0|                1| White|               4|           3|      3.3963|      9.5|   M|               NULL|                 NULL|  NULL|                0|         M | NULL|   U |                23.0|          18.0|2011-05-31 00:00:00|2012-05-29 00:00:00|            NULL|{18F95F47-1540-4E...|2014-02-08 10:01:...|
|      710|Mountain Bike Soc...|    SO-B909-L|       0|                1| White|               4|           3|      3.3963|      9.5|   L|               NULL|                 NULL|  NULL|                0|         M | NULL|   U |                23.0|          18.0|2011-05-31 00:00:00|2012-05-29 00:00:00|            NULL|{161C035E-21B3-4E...|2014-02-08 10:01:...|
|      711|Sport-100 Helmet,...|    HL-U509-B|       0|                1|  Blue|               4|           3|     13.0863|    34.99|NULL|               NULL|                 NULL|  NULL|                0|         S | NULL| NULL|                31.0|          33.0|2011-05-31 00:00:00|               NULL|            NULL|{FD7C0858-4179-48...|2014-02-08 10:01:...|
|      712|        AWC Logo Cap|      CA-1098|       0|                1| Multi|               4|           3|      6.9223|     8.99|NULL|               NULL|                 NULL|  NULL|                0|         S | NULL|   U |                19.0|           2.0|2011-05-31 00:00:00|               NULL|            NULL|{B9EDE243-A6F4-46...|2014-02-08 10:01:...|
|      713|Long-Sleeve Logo ...|    LJ-0192-S|       0|                1| Multi|               4|           3|     38.4923|    49.99|   S|               NULL|                 NULL|  NULL|                0|         S | NULL|   U |                21.0|          11.0|2011-05-31 00:00:00|               NULL|            NULL|{FD449C82-A259-4F...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-------------------+----------------+--------------------+--------------------+
only showing top 20 rows

Dropping any non-complete rows:

In [270]:
df.na.drop(how='any').show()

+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+
|ProductID|Name|ProductNumber|MakeFlag|FinishedGoodsFlag|Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|SellStartDate|SellEndDate|DiscontinuedDate|rowguid|ModifiedDate|
+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+
+---------+----+-------------+--------+-----------------+-----+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------+-----------+----------------+-------+------------+

Dropping columns:

In [271]:
df.drop('DiscontinuedDate').show()

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+--------------------+--------------------+
only showing top 20 rows

### **Fill in missing values**

All string type columns:

In [272]:
df.na.fill('NEW VALUE').show()

+---------+--------------------+-------------+--------+-----------------+---------+----------------+------------+------------+---------+---------+-------------------+---------------------+------+-----------------+-----------+---------+---------+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|    Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|     Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|    Class|    Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+---------+----------------+------------+------------+---------+---------+-------------------+---------------------+------+-----------------+-----------+---------+---------+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|NEW VALUE|             800|         600|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|NEW VALUE|             800|         600|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|NEW VALUE|             800|         600|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0|    Black|             500|         375|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|       L |NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0|    Black|             500|         375|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|       M |NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0|    Black|             500|         375|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|   Silver|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|   Silver|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0|    Black|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                0|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|NEW VALUE|             800|         600|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|NEW VALUE|            1000|         750|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|NEW VALUE|             800|         600|         0.0|      0.0|NEW VALUE|          NEW VALUE|            NEW VALUE|  NULL|                1|  NEW VALUE|NEW VALUE|NEW VALUE|                NULL|          NULL|2008-04-30 00:00:00|  NEW VALUE|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+---------+----------------+------------+------------+---------+---------+-------------------+---------------------+------+-----------------+-----------+---------+---------+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

All numeric type columns:

In [273]:
df.na.fill(0).show()

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL|   L | NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL|   M | NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                0|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|   0.0|                1|       NULL| NULL| NULL|                 0.0|           0.0|2008-04-30 00:00:00|       NULL|             0.0|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

Specified columns filled with the subset parameter:

In [274]:
df.na.fill('No Color',subset=['Color']).show()

+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag|   Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|No Color|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|No Color|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|No Color|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0|   Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0|   Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0|   Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|  Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|  Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0|   Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|No Color|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|No Color|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|No Color|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+--------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

Filling with mean values:

In [275]:
#from pyspark.sql.functions import mean
mean_val = df.select(F.mean(df['Weight'])).collect()

In [276]:
mean_val

[Row(avg(Weight)=74.06921951219513)]

In [277]:
# Display mean value
mean_weight = mean_val[0][0]
mean_weight

74.06921951219513

In [278]:
df.na.fill(mean_weight,["Weight"]).show()

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+-----------------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|           Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+-----------------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                 NULL|74.06921951219513|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+-----------------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

**Note:** None of these changes will save unless you reassign

e.g. `df = df.na.fill(mean_weight, ['Weight']).show()`

In [279]:
#***Task***
# Fill missing values in the WeightUnitMeasureCode column with 'CM'

#-----------------------------------------------------------------#

df.na.fill('CM', subset=['WeightUnitMeasureCode']).show()
#-----------------------------------------------------------------#

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NULL|               NULL|                   CM|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+----+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

<details>
    <summary style="color:green;font-weight:bold">Click here for the answer to the task</summary>
    
>
```
df.na.fill('CM', subset=['WeightUnitMeasureCode']).show()
```
</details>

In [280]:
#***Task***
# Fill missing values in the Size column with 'NoSize'

#-----------------------------------------------------------------#

df.na.fill('NoSize', subset=['Size']).show()
#-----------------------------------------------------------------#

+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+------+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|ProductID|                Name|ProductNumber|MakeFlag|FinishedGoodsFlag| Color|SafetyStockLevel|ReorderPoint|StandardCost|ListPrice|  Size|SizeUnitMeasureCode|WeightUnitMeasureCode|Weight|DaysToManufacture|ProductLine|Class|Style|ProductSubcategoryID|ProductModelID|      SellStartDate|SellEndDate|DiscontinuedDate|             rowguid|        ModifiedDate|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+------+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
|        1|     Adjustable Race|      AR-5381|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{694215B7-08F7-4C...|2014-02-08 10:01:...|
|        2|        Bearing Ball|      BA-8327|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{58AE3C20-4F3A-47...|2014-02-08 10:01:...|
|        3|     BB Ball Bearing|      BE-2349|       1|                0|  NULL|             800|         600|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{9C21AED2-5BFA-4F...|2014-02-08 10:01:...|
|        4|Headset Ball Bear...|      BE-2908|       0|                0|  NULL|             800|         600|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{ECFED6CB-51FF-49...|2014-02-08 10:01:...|
|      316|               Blade|      BL-2036|       1|                0|  NULL|             800|         600|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{E73E9750-603B-41...|2014-02-08 10:01:...|
|      317|         LL Crankarm|      CA-5965|       0|                0| Black|             500|         375|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL|   L | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3C9D10B7-A6B2-47...|2014-02-08 10:01:...|
|      318|         ML Crankarm|      CA-6738|       0|                0| Black|             500|         375|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL|   M | NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{EABB9A92-FA07-4E...|2014-02-08 10:01:...|
|      319|         HL Crankarm|      CA-7457|       0|                0| Black|             500|         375|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7D3FD384-4F29-48...|2014-02-08 10:01:...|
|      320|     Chainring Bolts|      CB-2903|       0|                0|Silver|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{7BE38E48-B7D6-44...|2014-02-08 10:01:...|
|      321|       Chainring Nut|      CN-6137|       0|                0|Silver|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{3314B1D7-EF69-44...|2014-02-08 10:01:...|
|      322|           Chainring|      CR-7833|       0|                0| Black|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{F0AC2C4D-1A1F-4E...|2014-02-08 10:01:...|
|      323|          Crown Race|      CR-9981|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{51A32CA6-65A1-4C...|2014-02-08 10:01:...|
|      324|         Chain Stays|      CS-2812|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{FE0678ED-AEF2-4C...|2014-02-08 10:01:...|
|      325|             Decal 1|      DC-8732|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{05CE123C-A402-47...|2014-02-08 10:01:...|
|      326|             Decal 2|      DC-9824|       0|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                0|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{A56851F9-1CD7-4E...|2014-02-08 10:01:...|
|      327|           Down Tube|      DT-2377|       1|                0|  NULL|             800|         600|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{1DAD47DD-E259-42...|2014-02-08 10:01:...|
|      328|   Mountain End Caps|      EC-M092|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6070B1EA-59B7-4F...|2014-02-08 10:01:...|
|      329|       Road End Caps|      EC-R098|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{88399D13-719E-45...|2014-02-08 10:01:...|
|      330|    Touring End Caps|      EC-T209|       1|                0|  NULL|            1000|         750|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{6903CE24-D0CE-41...|2014-02-08 10:01:...|
|      331|            Fork End|      FE-3760|       1|                0|  NULL|             800|         600|         0.0|      0.0|NoSize|               NULL|                 NULL|  NULL|                1|       NULL| NULL| NULL|                NULL|          NULL|2008-04-30 00:00:00|       NULL|            NULL|{C91D602E-DA52-43...|2014-02-08 10:01:...|
+---------+--------------------+-------------+--------+-----------------+------+----------------+------------+------------+---------+------+-------------------+---------------------+------+-----------------+-----------+-----+-----+--------------------+--------------+-------------------+-----------+----------------+--------------------+--------------------+
only showing top 20 rows

<details>
    <summary style="color:green;font-weight:bold">Click here for the answer to the task</summary>
    
>
```
df.na.fill('NoSize', subset=['Size']).show()
```
</details>

## **Writing Data**

#### Writing a PySpark DataFrame to CSV: 3 Methods

##### 1. Using `.write.csv()` (Default PySpark Method)  
- **Output**: A **folder** containing multiple CSV files and a `_SUCCESS` file.  
- **When to Use**: Best for **large datasets** and distributed environments where partitioning is beneficial.  

---

##### 2. Using `.write.csv()` with `.coalesce(1)` (Single File Output)  
- **Output**: A **folder** containing **one** CSV file.  
- **When to Use**: When a **single CSV file** is needed, but still working in a distributed environment.  

---

##### 3. Using `.toPandas().to_csv()` (Pandas Method)  
- **Output**: A **single CSV file**.  
- **When to Use**: Suitable for **small datasets** that fit into memory; easier for handling as a single file.  

---

#### Choosing the Right Method  

| Method                        | Output Type        | Best for Large Data? | Produces a Single File? |
|--------------------------------|--------------------|----------------------|-------------------------|
| `.write.csv()`                 | Folder w/ multiple files | âœ… Yes | âŒ No  |
| `.coalesce(1).write.csv()`      | Folder w/ one file | âš ï¸ Limited | âŒ No  |
| `.toPandas().to_csv()`          | Single CSV file | âŒ No (memory risk) | âœ… Yes |

In [ ]:
##Local files
#df = spark.read.csv('../DataSources/superstore.csv',inferSchema=True,header=True)
# Default:
#df.orderBy(df["Sales"].desc()).write.csv("DescendingSales1.csv")
# Coalesce
#df.orderBy(df["Sales"].desc()).coalesce(1).write.csv("DescendingSales2.csv", header=True)
# Convert to Pandas and save
#df.orderBy(df["Sales"].desc()).toPandas().to_csv("DescendingSales2.csv", index=False)

In [190]:
##AWS S3 Bucket:
import pandas as pd
url = "https://rockborne-bucket-01-cbs.s3.eu-west-2.amazonaws.com/DataSources/superstore.csv"
# Read with pandas
pandas_df = pd.read_csv(url, encoding='latin-1')
# Convert to PySpark
superstore_df = spark.createDataFrame(pandas_df)
#superstore_df.printSchema()
superstore_df = superstore_df.withColumn("sales", F.col("sales").cast("double")) \
       .withColumn("quantity", F.col("quantity").cast("int")) \
       .withColumn("discount", F.col("discount").cast("double"))
superstore_df.printSchema()
superstore_df.show()
superstore_df.orderBy(superstore_df["Sales"].desc()).toPandas().to_csv("DescendingSales2.csv", index=False)

root
 |-- Row ID: long (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: long (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- Sales: double (nullable = true)
 |-- Quantity: long (nullable = true)
 |-- Discount: double (nullable = true)
 |-- Profit: double (nullable = true)

root
 |-- Row ID: long (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Order Date: string (nullable = true)
 |-- Ship Date: string (nullable = true)
 |-- Ship Mode: string (nullable = true)
 |-- Customer ID: string (nullable = true)
 |-- Customer Name: string (nullable = true)
 |-- Segment: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Postal Code: long (nullable = true)
 |-- Region: string (nullable = true)
 |-- Product ID: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Sub-Category: string (nullable = true)
 |-- Product Name: string (nullable = true)
 |-- sales: double (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- discount: double (nullable = true)
 |-- Profit: double (nullable = true)

+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|Row ID|      Order ID|Order Date| Ship Date|     Ship Mode|Customer ID|     Customer Name|    Segment|      Country|           City|         State|Postal Code| Region|     Product ID|       Category|Sub-Category|        Product Name|   sales|quantity|discount|  Profit|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
|     1|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-BO-10001798|      Furniture|   Bookcases|Bush Somerset Col...|  261.96|       2|     0.0| 41.9136|
|     2|CA-2016-152156| 11/8/2016|11/11/2016|  Second Class|   CG-12520|       Claire Gute|   Consumer|United States|      Henderson|      Kentucky|      42420|  South|FUR-CH-10000454|      Furniture|      Chairs|Hon Deluxe Fabric...|  731.94|       3|     0.0| 219.582|
|     3|CA-2016-138688| 6/12/2016| 6/16/2016|  Second Class|   DV-13045|   Darrin Van Huff|  Corporate|United States|    Los Angeles|    California|      90036|   West|OFF-LA-10000240|Office Supplies|      Labels|Self-Adhesive Add...|   14.62|       2|     0.0|  6.8714|
|     4|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|FUR-TA-10000577|      Furniture|      Tables|Bretford CR4500 S...|957.5775|       5|    0.45|-383.031|
|     5|US-2015-108966|10/11/2015|10/18/2015|Standard Class|   SO-20335|    Sean O'Donnell|   Consumer|United States|Fort Lauderdale|       Florida|      33311|  South|OFF-ST-10000760|Office Supplies|     Storage|Eldon Fold 'N Rol...|  22.368|       2|     0.2|  2.5164|
|     6|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-FU-10001487|      Furniture| Furnishings|Eldon Expressions...|   48.86|       7|     0.0| 14.1694|
|     7|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AR-10002833|Office Supplies|         Art|          Newell 322|    7.28|       4|     0.0|  1.9656|
|     8|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002275|     Technology|      Phones|Mitel 5320 IP Pho...| 907.152|       6|     0.2| 90.7152|
|     9|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-BI-10003910|Office Supplies|     Binders|DXL Angle-View Bi...|  18.504|       3|     0.2|  5.7825|
|    10|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|OFF-AP-10002892|Office Supplies|  Appliances|Belkin F5C206VTEL...|   114.9|       5|     0.0|   34.47|
|    11|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|FUR-TA-10001539|      Furniture|      Tables|Chromcraft Rectan...|1706.184|       9|     0.2| 85.3092|
|    12|CA-2014-115812|  6/9/2014| 6/14/2014|Standard Class|   BH-11710|   Brosina Hoffman|   Consumer|United States|    Los Angeles|    California|      90032|   West|TEC-PH-10002033|     Technology|      Phones|Konftel 250 Confe...| 911.424|       4|     0.2| 68.3568|
|    13|CA-2017-114412| 4/15/2017| 4/20/2017|Standard Class|   AA-10480|      Andrew Allen|   Consumer|United States|        Concord|North Carolina|      28027|  South|OFF-PA-10002365|Office Supplies|       Paper|          Xerox 1967|  15.552|       3|     0.2|  5.4432|
|    14|CA-2016-161389| 12/5/2016|12/10/2016|Standard Class|   IM-15070|      Irene Maddox|   Consumer|United States|        Seattle|    Washington|      98103|   West|OFF-BI-10003656|Office Supplies|     Binders|Fellowes PB200 Pl...| 407.976|       3|     0.2|132.5922|
|    15|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-AP-10002311|Office Supplies|  Appliances|Holmes Replacemen...|   68.81|       5|     0.8|-123.858|
|    16|US-2015-118983|11/22/2015|11/26/2015|Standard Class|   HP-14815|     Harold Pawlan|Home Office|United States|     Fort Worth|         Texas|      76106|Central|OFF-BI-10000756|Office Supplies|     Binders|Storex DuraTech R...|   2.544|       3|     0.8|  -3.816|
|    17|CA-2014-105893|11/11/2014|11/18/2014|Standard Class|   PK-19075|         Pete Kriz|   Consumer|United States|        Madison|     Wisconsin|      53711|Central|OFF-ST-10004186|Office Supplies|     Storage|Stur-D-Stor Shelv...|  665.88|       6|     0.0| 13.3176|
|    18|CA-2014-167164| 5/13/2014| 5/15/2014|  Second Class|   AG-10270|   Alejandro Grove|   Consumer|United States|    West Jordan|          Utah|      84084|   West|OFF-ST-10000107|Office Supplies|     Storage|Fellowes Super St...|    55.5|       2|     0.0|    9.99|
|    19|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|OFF-AR-10003056|Office Supplies|         Art|          Newell 341|    8.56|       2|     0.0|  2.4824|
|    20|CA-2014-143336| 8/27/2014|  9/1/2014|  Second Class|   ZD-21925|Zuschuss Donatelli|   Consumer|United States|  San Francisco|    California|      94109|   West|TEC-PH-10001949|     Technology|      Phones|Cisco SPA 501G IP...|  213.48|       3|     0.2|  16.011|
+------+--------------+----------+----------+--------------+-----------+------------------+-----------+-------------+---------------+--------------+-----------+-------+---------------+---------------+------------+--------------------+--------+--------+--------+--------+
only showing top 20 rows

<a name="anchorConclusion" style="position:absolute;"></a>
<hr style="border:0.5px solid", color= "gray">

# 4. Conclusion
<hr style="border-top:1px dashed">

- PySpark is a powerful language for Data Science Analysts to learn, because it enables scalabe data wrangling and analysis beyond the limitations of pandas.
- If you already know Python, Pandas and SQL this should be a great jump into big data.
- If you are interested in Data Engineering, [Azure Databricks](https://docs.microsoft.com/en-us/azure/databricks/languages/python) uses PySpark as one of the primary languages to interact with data.
- For more information read the [PySpark Documentation](https://spark.apache.org/docs/latest/api/python/getting_started/index.html).

## Citations
<a name="KDNuggets" style="position:absolute;"></a>
7 Steps to Mastering Apache 2.0 :cite:p:[2016:KDNuggets](https://www.kdnuggets.com/2016/09/7-steps-mastering-apache-spark.html)
<br>